<!-- 관리자 회원 조회 페이지 -->
<div id="layout" class="admin-member">
    <div class="layout-member">
        <!-- 관리자 페이지 배너 -->
        <nav class="side-banner">
            <!-- 배너 타이틀 -->
            <div class="banner-title">
                <img class=banner-logo-img src="/images/gibuhagae.png" alt="야옹아 기부하개">
                <div class="banner-title-text">관리자 페이지</div>
            </div>

            <!-- 배너 버튼 목록 -->
            <ul class="banner-button-list">
                <li class="banner-button member">
                    <div class="button-title" onclick="location.href='/member/member-admin'">회원 관리</div>
                </li>
                <li class="banner-button item">
                    <div class="button-title" onclick="location.href='/productManagement/product-admin'">상품 관리</div>
                </li>
                <li class="banner-button buy">
                    <div class="button-title" onclick="location.href='/buyManagement/buy-admin'">매입 관리</div>
                </li>
                <li class="banner-button order">
                    <div class="button-title" onclick="location.href='/order/order-new'">주문 관리</div>
                </li>
                <li class="banner-button donation">
                    <div class="button-title" onclick="location.href='/donate/donate-admin'">기부금 관리</div>
                </li>
                <li class="banner-button statistics">
                    <div class="button-title" onclick="location.href='/totalsales/totalsale-admin'">정산 관리</div>
                </li>
                <li class="banner-button tomain">
                    <div class="button-title" onclick="location.href='http://localhost:8080/'">메인으로</div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="/js/admin/nav/nav.js"></script>


