<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gibuhagae.gibuhagae.order.dao.OrderMapper">

    <resultMap id="generalOrderListResultMap" type="com.gibuhagae.gibuhagae.order.dto.OrderManagementDTO">
        <id property="orderNo" column="ORDER_NO"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderStatus" column="ORDER_STATUS"/>
        <result property="orderCount" column="ORDER_COUNT"/>
        <result property="donateYN" column="DONATE_YN"/>
        <result property="paymentPrice" column="PAYMENT_PRICE"/>
        <result property="cancelDate" column="CANCEL_DATE"/>
        <result property="cerStatus" column="CER_STATUS"/>
        <result property="totalOrderPrice" column="TOTAL_ORDER_PRICE"/>
        <result property="donatePrice" column="DONATE_PRICE"/>
        <result property="recipientName" column="RECIPIENT_NAME"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="registrationNo" column="REGISTRATION_NO"/>
        <result property="postOffice" column="POSTOFFICE"/>
        <result property="deliveryRequest" column="DELIVERY_REQUEST"/>




    </resultMap>

    <resultMap id="memberResultMap" type="com.gibuhagae.gibuhagae.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberPhone" column="MEMBER_PHONE"/>
        <result property="zipCode" column="ZIPCODE"/>
        <result property="address" column="ADDRESS"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="updateDate" column="UPDATE_DATE"/>
        <result property="email" column="EMAIL"/>
        <result property="donatePrice" column="DONATE_PRICE"/>
        <result property="password" column="PASSWORD"/>
        <result property="userId" column="USER_ID"/>
        <result property="userCode" column="USER_CODE"/>
        <result property="loginType" column="LOGIN_TYPE"/>
        <result property="activation_status" column="ACTIVATION_STATUS"/>

    </resultMap>

    <resultMap id="postResultMap" type="com.gibuhagae.gibuhagae.order.dto.PostDTO">
        <id property="orderNo" column="ORDER_NO"/>
        <result property="recipientName" column="RECIPIENT_NAME"/>
        <result property="recipientPhone" column="RECIPIENT_PHONE"/>
        <result property="zipCode" column="ZIPCODE"/>
        <result property="address" column="ADDRESS"/>
        <result property="registrationDate" column="REGISTRATION_DATE"/>
        <result property="deliveryRequest" column="DELIVERY_REQUEST"/>
        <result property="registrationNo" column="REGISTRATION_NO"/>
        <result property="postOffice" column="POSTOFFICE"/>
    </resultMap>

    <resultMap id="itemResultMap" type="com.gibuhagae.gibuhagae.product.dto.ItemDTO">
        <id property="itemCode" column="ITEM_CODE"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="saleStatus" column="SALE_STATUS"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="totalCount" column="TOTAL_COUNT"/>
    </resultMap>

    <resultMap id="itemOptionMap" type="com.gibuhagae.gibuhagae.product.dto.ItemDTO">
        <id property="optionCode" column="OPTION_CODE"/>
        <id property="itemCode" column="ITEM_CODE"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="salePrice" column="SALE_PRICE"/>
        <result property="count" column="COUNT"/>

    </resultMap>


    <select id="selectNewOrderList" resultMap="generalOrderListResultMap">
        SELECT
            OM.ORDER_NO,
            OM.ORDER_DATE,
            P.RECIPIENT_NAME,
            I.ITEM_NAME,
            IO.OPTION_NAME,
            OM.PAYMENT_PRICE,
            OM.ORDER_COUNT,
            P.DELIVERY_REQUEST
        FROM ORDER_MANAGEMENT OM
                 JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
                 JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
                 JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
                 JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
        WHERE ORDER_STATUS = '신규주문'
    </select>

    <update id="updatePost" parameterType="com.gibuhagae.gibuhagae.order.dto.OrderManagementDTO">
        UPDATE POST
        SET
            REGISTRATION_NO = #{ trackingNumber },
            POSTOFFICE = #{ deliveryCompany }
        WHERE ORDER_NO = #{ selectedOrderNo }
    </update>

</mapper>