<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gibuhagae.gibuhagae.order.dao.OrderMapper">

    <resultMap id="generalOrderListResultMap" type="com.gibuhagae.gibuhagae.order.dto.OrderManagementDTO">
        <id property="orderNo" column="ORDER_NO"/>
        <id property="refundNo" column="REFUND_NUMBER"/>
        <id property="swapNo" column="SWAP_NUMBER"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderStatus" column="ORDER_STATUS"/>
        <result property="orderCount" column="ORDER_COUNT"/>
        <result property="donateYN" column="DONATE_YN"/>
        <result property="paymentPrice" column="PAYMENT_PRICE"/>
        <result property="cerStatus" column="CER_STATUS"/>
        <result property="totalOrderPrice" column="TOTAL_ORDER_PRICE"/>
        <result property="donatePrice" column="DONATE_PRICE"/>
        <result property="recipientName" column="RECIPIENT_NAME"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="registrationNo" column="REGISTRATION_NO"/>
        <result property="postOffice" column="POSTOFFICE"/>
        <result property="deliveryRequest" column="DELIVERY_REQUEST"/>
        <result property="userId" column="USER_ID"/>
        <result property="address" column="ADDRESS"/>
        <result property="addressDetail" column="ADDRESS_DETAIL"/>
        <result property="zipCode" column="ZIPCODE"/>
        <result property="refundReason" column="REFUND_REASON"/>
        <result property="swapReason" column="SWAP_REASON"/>
    </resultMap>

    <resultMap id="cancelOderListResultMap" type="com.gibuhagae.gibuhagae.order.dto.CancelListDTO">
        <id property="orderNo" column="ORDER_NO"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderCount" column="ORDER_COUNT"/>
        <result property="paymentPrice" column="PAYMENT_PRICE"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="userId" column="USER_ID"/>
        <result property="recipientName" column="RECIPIENT_NAME"/>
        <result property="cancelDate" column="CANCEL_DATE"/>
        <result property="postOffice" column="POSTOFFICE"/>

    </resultMap>

    <resultMap id="returnOrderListResultMap" type="com.gibuhagae.gibuhagae.order.dto.ReturnRequestDTO">
        <id property="orderNo" column="ORDER_NO"/>
        <id property="refundNumber" column="REFUND_NUMBER"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderCount" column="ORDER_COUNT"/>
        <result property="paymentPrice" column="PAYMENT_PRICE"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="userId" column="USER_ID"/>
        <result property="zipCode" column="ZIPCODE"/>
        <result property="address" column="ADDRESS"/>
        <result property="addressDetail" column="ADDRESS_DETAIL"/>
        <result property="refundReason" column="REFUND_REASON"/>
        <result property="recipientPhone" column="RECIPIENT_PHONE"/>
        <result property="recipientName" column="RECIPIENT_NAME"/>
        <result property="registrationNo" column="REGISTRATION_NO"/>
        <result property="postOffice" column="POSTOFFICE"/>
        <result property="cancelDate" column="CANCEL_DATE"/>
    </resultMap>

    <resultMap id="swapOrderListResultMap" type="com.gibuhagae.gibuhagae.order.dto.SwapRequestDTO">
        <id property="orderNo" column="ORDER_NO"/>
        <id property="swapNumber" column="SWAP_NUMBER"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderCount" column="ORDER_COUNT"/>
        <result property="paymentPrice" column="PAYMENT_PRICE"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="userId" column="USER_ID"/>
        <result property="zipCode" column="ZIPCODE"/>
        <result property="address" column="ADDRESS"/>
        <result property="addressDetail" column="ADDRESS_DETAIL"/>
        <result property="swapReason" column="SWAP_REASON"/>
        <result property="recipientPhone" column="RECIPIENT_PHONE"/>
        <result property="recipientName" column="RECIPIENT_NAME"/>
        <result property="registrationNo" column="REGISTRATION_NO"/>
        <result property="postOffice" column="POSTOFFICE"/>
    </resultMap>



    <resultMap id="itemOptionMap" type="com.gibuhagae.gibuhagae.productManagement.dto.ItemOptionDTO">
        <id property="optionCode" column="OPTION_CODE"/>
        <id property="itemCode" column="ITEM_CODE"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="salePrice" column="SALE_PRICE"/>
        <result property="count" column="COUNT"/>
    </resultMap>

    <!-- summary 혁 2023-10-18 START-->
    <resultMap id="orderDetailDTO" type="com.gibuhagae.gibuhagae.order.dto.OrderDetailDTO">
        <id property="orderDetailCode" column="ORDER_DETAIL_CODE"/>
        <result property="itemCode" column="ITEM_CODE"/>
        <result property="optionCode" column="OPTION_CODE"/>
        <result property="orderNo" column="ORDER_NO"/>
        <result property="count" column="COUNT"/>
        <result property="price" column="PRICE"/>
    </resultMap>

    <select id="selectOrderDetailPK" resultType="int">
        SELECT
            ORDER_DETAIL_CODE
        FROM
            ORDER_DETAIL
        WHERE
            ORDER_NO = #{orderManageCode}
    </select>

    <!-- summary 혁 2023-10-18 END-->

    <select id="selectNewOrderList" resultMap="generalOrderListResultMap">
        SELECT
            OM.ORDER_NO,
            M.USER_ID,
            P.RECIPIENT_NAME,
            OM.ORDER_DATE,
            I.ITEM_NAME,
            IO.OPTION_NAME,
            OM.PAYMENT_PRICE,
            OM.ORDER_COUNT,
            P.DELIVERY_REQUEST,
            P.REGISTRATION_NO,
            P.POSTOFFICE,
            P.ZIPCODE,
            P.ADDRESS,
            P.ADDRESS_DETAIL
        FROM ORDER_MANAGEMENT OM
                 JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
                 JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
                 JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
                 JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
                 JOIN MEMBER M ON OM.MEMBER_NO = M.MEMBER_NO
        WHERE OM.ORDER_STATUS = '신규주문'
    </select>

    <update id="updatePost" parameterType="com.gibuhagae.gibuhagae.order.dto.OrderManagementDTO">
        UPDATE POST
        SET
            REGISTRATION_NO = #{ trackingNumber },
            POSTOFFICE = #{ deliveryCompany }
        WHERE ORDER_NO = #{ selectedOrderNo }
    </update>


    <update id="updateOrderStatus" parameterType="com.gibuhagae.gibuhagae.order.dto.OrderManagementDTO">
        UPDATE ORDER_MANAGEMENT
           SET
               ORDER_STATUS = #{ orderStatus }
         WHERE ORDER_NO = #{ selectedOrderNo }
    </update>


<select id="selectShippingOrderList" resultMap="generalOrderListResultMap">
    SELECT
        OM.ORDER_NO,
        M.USER_ID,
        P.RECIPIENT_NAME,
        OM.ORDER_DATE,
        I.ITEM_NAME,
        IO.OPTION_NAME,
        OM.PAYMENT_PRICE,
        OM.ORDER_COUNT,
        CASE
            WHEN OM.CER_STATUS = '교환' THEN SM.SWAP_REASON
            ELSE P.DELIVERY_REQUEST
            END AS DELIVERY_REQUEST,
        P.REGISTRATION_NO,
        P.POSTOFFICE,
        P.ZIPCODE,
        P.ADDRESS,
        P.ADDRESS_DETAIL
    FROM ORDER_MANAGEMENT OM
             JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
             JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
             JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
             JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
             JOIN MEMBER M ON OM.MEMBER_NO = M.MEMBER_NO
             LEFT JOIN SWAP_MANAGEMENT SM ON OD.ORDER_DETAIL_CODE = SM.ORDER_DETAIL_CODE
    WHERE OM.ORDER_STATUS = '발송처리'
</select>

    <select id="OrderReadyList" resultMap="generalOrderListResultMap">
        SELECT
            OM.ORDER_NO,
            M.USER_ID,
            P.RECIPIENT_NAME,
            OM.ORDER_DATE,
            I.ITEM_NAME,
            IO.OPTION_NAME,
            OM.PAYMENT_PRICE,
            OM.ORDER_COUNT,
            CASE
                WHEN OM.CER_STATUS = '교환' THEN SM.SWAP_REASON
                ELSE P.DELIVERY_REQUEST
                END AS DELIVERY_REQUEST,
            P.REGISTRATION_NO,
            P.POSTOFFICE,
            P.ZIPCODE,
            P.ADDRESS,
            P.ADDRESS_DETAIL
        FROM ORDER_MANAGEMENT OM
                 JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
                 JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
                 JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
                 JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
                 JOIN MEMBER M ON OM.MEMBER_NO = M.MEMBER_NO
                 LEFT JOIN SWAP_MANAGEMENT SM ON OD.ORDER_DETAIL_CODE = SM.ORDER_DETAIL_CODE
        WHERE OM.ORDER_STATUS = '배송준비중'
    </select>

    <select id="orderCompleteList" resultMap="generalOrderListResultMap">
        SELECT
            OM.ORDER_NO,
            M.USER_ID,
            P.RECIPIENT_NAME,
            OM.ORDER_DATE,
            I.ITEM_NAME,
            IO.OPTION_NAME,
            OM.PAYMENT_PRICE,
            OM.ORDER_COUNT,
            CASE
                WHEN OM.CER_STATUS = '교환' THEN SM.SWAP_REASON
                ELSE P.DELIVERY_REQUEST
                END AS DELIVERY_REQUEST,
            P.REGISTRATION_NO,
            P.POSTOFFICE,
            P.ZIPCODE,
            P.ADDRESS,
            P.ADDRESS_DETAIL
        FROM ORDER_MANAGEMENT OM
                 JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
                 JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
                 JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
                 JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
                 JOIN MEMBER M ON OM.MEMBER_NO = M.MEMBER_NO
                 LEFT JOIN SWAP_MANAGEMENT SM ON OD.ORDER_DETAIL_CODE = SM.ORDER_DETAIL_CODE
        WHERE OM.ORDER_STATUS = '배송완료'
    </select>

    <select id="orderCancelList" resultMap="generalOrderListResultMap">
        SELECT
            OM.ORDER_NO,
            M.USER_ID,
            P.RECIPIENT_NAME,
            OM.ORDER_DATE,
            I.ITEM_NAME,
            IO.OPTION_NAME,
            OM.PAYMENT_PRICE,
            OM.ORDER_COUNT,
            P.DELIVERY_REQUEST
        FROM ORDER_MANAGEMENT OM
                 JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
                 JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
                 JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
                 JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
                 JOIN MEMBER M ON OM.MEMBER_NO = M.MEMBER_NO
        WHERE OM.ORDER_STATUS = '취소요청'
    </select>

<update id="cancelOrder" parameterType="com.gibuhagae.gibuhagae.order.dto.OrderManagementDTO">
    UPDATE ORDER_MANAGEMENT
       SET
           ORDER_STATUS = '취소 된 주문',
           CER_STATUS = '취소',
           CANCEL_DATE = SYSTIMESTAMP
     WHERE ORDER_NO = #{ selectedOrderNo }
</update>

    <update id="returnOrder" parameterType="com.gibuhagae.gibuhagae.order.dto.OrderManagementDTO">
    UPDATE ORDER_MANAGEMENT
       SET
           ORDER_STATUS = '반품 된 주문',
           CER_STATUS = '반품',
           CANCEL_DATE = SYSTIMESTAMP
     WHERE ORDER_NO = #{ selectedOrderNo }
    </update>

    <select id="selectCancelOrderList" resultMap="cancelOderListResultMap">
        SELECT
            OM.ORDER_NO,
            M.USER_ID,
            P.RECIPIENT_NAME,
            OM.ORDER_DATE,
            I.ITEM_NAME,
            IO.OPTION_NAME,
            OM.PAYMENT_PRICE,
            OM.ORDER_COUNT,
            OM.CANCEL_DATE
        FROM ORDER_MANAGEMENT OM
                 JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
                 JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
                 JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
                 JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
                 JOIN MEMBER M ON OM.MEMBER_NO = M.MEMBER_NO
         WHERE OM.CER_STATUS = '취소'
    </select>

   <select id="orderReturnList" resultMap="generalOrderListResultMap">
       SELECT
           RM.REFUND_NUMBER,
           OM.ORDER_NO,
           M.USER_ID,
           P.RECIPIENT_NAME,
           OM.ORDER_DATE,
           I.ITEM_NAME,
           IO.OPTION_NAME,
           OM.PAYMENT_PRICE,
           OM.ORDER_COUNT,
           RM.REFUND_REASON
       FROM ORDER_MANAGEMENT OM
                JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
                JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
                JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
                JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
                JOIN MEMBER M ON OM.MEMBER_NO = M.MEMBER_NO
                JOIN REFUND_MANAGEMENT RM ON OD.ORDER_DETAIL_CODE = RM.ORDER_DETAIL_CODE
       WHERE OM.ORDER_STATUS = '반품요청'
   </select>

    <select id="returnDetailList" resultMap="returnOrderListResultMap">
        SELECT
            RM.REFUND_NUMBER,
            M.USER_ID,
            P.RECIPIENT_NAME,
            P.RECIPIENT_PHONE,
            OM.ORDER_DATE,
            I.ITEM_NAME,
            IO.OPTION_NAME,
            OM.PAYMENT_PRICE,
            OM.ORDER_COUNT,
            OM.CANCEL_DATE,
            RM.REFUND_REASON
        FROM ORDER_MANAGEMENT OM
                 JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
                 JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
                 JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
                 JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
                 JOIN MEMBER M ON OM.MEMBER_NO = M.MEMBER_NO
                 JOIN REFUND_MANAGEMENT RM ON OD.ORDER_DETAIL_CODE = RM.ORDER_DETAIL_CODE
        WHERE OM.CER_STATUS = '반품'

    </select>

    <select id="orderSwapList" resultMap="generalOrderListResultMap">
        SELECT
            SM.SWAP_NUMBER,
            OM.ORDER_NO,
            M.USER_ID,
            P.RECIPIENT_NAME,
            OM.ORDER_DATE,
            I.ITEM_NAME,
            IO.OPTION_NAME,
            OM.PAYMENT_PRICE,
            OM.ORDER_COUNT,
            SM.SWAP_REASON
        FROM ORDER_MANAGEMENT OM
                 JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
                 JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
                 JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
                 JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
                 JOIN MEMBER M ON OM.MEMBER_NO = M.MEMBER_NO
                 JOIN SWAP_MANAGEMENT SM ON OD.ORDER_DETAIL_CODE = SM.ORDER_DETAIL_CODE
        WHERE OM.ORDER_STATUS = '교환요청'
    </select>

    <select id="swapDetailList" resultMap="swapOrderListResultMap">
        SELECT
            SM.SWAP_NUMBER,
            M.USER_ID,
            P.RECIPIENT_NAME,
            P.RECIPIENT_PHONE,
            OM.ORDER_DATE,
            I.ITEM_NAME,
            IO.OPTION_NAME,
            OM.PAYMENT_PRICE,
            OM.ORDER_COUNT,
            OM.CANCEL_DATE,
            SM.SWAP_REASON
        FROM ORDER_MANAGEMENT OM
                 JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
                 JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
                 JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
                 JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
                 JOIN MEMBER M ON OM.MEMBER_NO = M.MEMBER_NO
                 JOIN SWAP_MANAGEMENT SM ON OD.ORDER_DETAIL_CODE = SM.ORDER_DETAIL_CODE
        WHERE OM.CER_STATUS = '교환'
    </select>

    <update id="swapOrder" parameterType="com.gibuhagae.gibuhagae.order.dto.OrderManagementDTO">
        UPDATE ORDER_MANAGEMENT
           SET
               ORDER_STATUS = #{ orderStatus },
               CER_STATUS = '교환'
         WHERE ORDER_NO = #{ selectedOrderNo }

    </update>
    <update id="modifyOrderDetailStatus" parameterType="com.gibuhagae.gibuhagae.order.dto.OrderManagementDTO">
        UPDATE
            ORDER_MANAGEMENT
        SET
            ORDER_STATUS = #{orderStatus}
        WHERE
            ORDER_NO = #{orderManageNo}

    </update>

<!--    summary 혁 2023-10-19-->
    <insert id="insertRefundManagement">
        INSERT
        INTO REFUND_MANAGEMENT (
            REFUND_NUMBER,
            REFUND_REASON,
            ORDER_DETAIL_CODE
        )
        VALUES (
            SEQ_REFUND_NO.NEXTVAL,
                #{ reasonText },
                #{ orderDetailCode }
        )
    </insert>

    <insert id="insertSwapManagement">
        INSERT
        INTO SWAP_MANAGEMENT (
            SWAP_NUMBER,
            SWAP_REASON,
            ORDER_DETAIL_CODE
        )
        VALUES (
            SEQ_SWAP_NO.NEXTVAL,
            #{ reasonText },
            #{ orderDetailCode }
        )
    </insert>

    <select id="selectNewOrderList2" resultMap="generalOrderListResultMap">
        SELECT
            OM.ORDER_NO,
            M.USER_ID,
            P.RECIPIENT_NAME,
            OM.ORDER_DATE,
            I.ITEM_NAME,
            IO.OPTION_NAME,
            OM.PAYMENT_PRICE,
            OM.ORDER_COUNT,
            P.DELIVERY_REQUEST,
            P.REGISTRATION_NO,
            P.POSTOFFICE,
            P.ZIPCODE,
            P.ADDRESS,
            P.ADDRESS_DETAIL,
           OM.ORDER_STATUS
        FROM ORDER_MANAGEMENT OM
                 JOIN POST P ON OM.ORDER_NO = P.ORDER_NO
                 JOIN ORDER_DETAIL OD ON OM.ORDER_NO = OD.ORDER_NO
                 JOIN ITEM I ON OD.ITEM_CODE = I.ITEM_CODE
                 JOIN ITEM_OPTION IO ON OD.OPTION_CODE = IO.OPTION_CODE
                 JOIN MEMBER M ON OM.MEMBER_NO = M.MEMBER_NO
    </select>
</mapper>