<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gibuhagae(productList)</title>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--    <script type="text/javascript" src="/js/button.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/product/product.css" rel="stylesheet" type="text/css">
    <link href="/css/main/navigation.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
</head>
<body>
<!--상품 리스트 페이지 -->
<div class="product" id="product">
    <!-- 헤더(로고, 상단 메뉴)-->
    <div th:replace="/common/board/navigation"></div>
    <!-- 상품 리스트 영역 -->
    <div class="product-content">
        <!-- 상품 리스트 네비게이션 -->
        <div class="product-list-nav">
            <div class="product-list-category">
                간식
                <hr class="title-divider">
            </div>
            <div class="product-list-subcategory">
                <div class="subcategory-name">
                    <a href="123">ALL</a>
                </div>
                <div class="subcategory-name">
                    <a href="123">강아지껌</a>
                </div>
                <div class="subcategory-name">
                    <a href="123">수제간식</a>
                </div>
                <div class="subcategory-name">
                    <a href="123">캔/파우치</a>
                </div>
                <div class="subcategory-name">
                    <a href="123">고양이간식</a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <!-- 상품 리스트 컨테이너 -->
        <div class="product-container">
            <hr class="title-divider1">
            <div class="product-list-top">
                <div class="product-list-title">
                    PRODUCT LIST
                </div>
                <!-- 필터링 구역 -->
                <div class="product-list-filter">
                    <ul>
                        <li class="filter">
                            <a href="123">신상품</a>
                        </li>
                        <a>|</a>
                        <li class="filter">
                            <a href="123">인기순</a>
                        </li>
                        <a>|</a>
                        <li class="filter" id="low">
                            <a href="123">낮은가격</a>
                        </li>
                        <a>|</a>
                        <li class="filter">
                            <a href="123">높은가격</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="title-divider2">
            <!-- 상품 리스트 이미지들 -->
            <div class="product-list-wrapper">
                <div class="product-list" th:each="item : ${ itemList }">
                    <a th:onclick="|location.href='/product/productDetail?no=${ item.itemCode }'|"
                       style="cursor: pointer;">
                        <img th:src="${ item.attachmentList[0].filePath }">
                        <div class="list-info-wrapper">
                            <span class="pd-title"
                                  style="font-size: 18px; padding-bottom: 5px; border-bottom: rgba(108,106,106,0.3) 1px solid"
                                  th:text="${ item.itemName }"></span>
                            <div class="pd-price" style="padding-top: 5px;">
                                <span class="price"
                                      th:text="'￦ ' + ${#numbers.formatDecimal(item.salePrice, 0, 'COMMA', 0, 'POINT')}"></span>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="PageMoveButton" id="pageMoveButton">
            <a class="up-logo" style="margin-bottom: 40px">▲</a>
            <a class="down-logo">▼</a>
        </div>
        <div id="paging" align="center" style="margin: 30px 0 30px 0;">
            <th:block>
                <!-- 맨 앞으로 이동 -->
                <button th:onclick="'location.href=\'/product/productList?page=1\''">&lt;&lt;</button>

                <!-- 이전 페이지로 이동 -->
                <button
                        th:onclick="'location.href=\'/product/productList?page=' + @{${paging.page - 1}} + '\''"
                        th:disabled="${ paging.page <= 1 }">&lt;
                </button>

                <!-- 숫자 버튼 -->
                <th:block
                        th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
                    <button
                            th:onclick="'location.href=\'/product/productList?page=' + @{${page}} + '\''"
                            th:text="${ page }" th:disabled="${ paging.page eq page }">
                    </button>
                </th:block>

                <!-- 다음 페이지로 이동 -->
                <button
                        th:onclick="'location.href=\'/product/productList?page=' + @{${paging.page + 1}} + '\''"
                        th:disabled="${ paging.page >= paging.maxPage }">>
                </button>

                <!-- 맨 끝으로 이동 -->
                <button
                        th:onclick="'location.href=\'/product/productList?page=' + @{${paging.maxPage}} + '\''">>>
                </button>
            </th:block>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const topBtn = document.querySelector(".up-logo");

                topBtn.onclick = () => {
                    window.scrollTo({top: 0, behavior: "auto"});
                };
            });
            document.addEventListener("DOMContentLoaded", () => {
                const topBtn = document.querySelector(".down-logo");

                topBtn.onclick = () => {
                    window.scrollTo({top: document.body.scrollHeight, behavior: "auto"});
                };
            });

            // 메인페이지 스크롤 위치에 따른 버튼 생성
            $(function (){
                $("#pageMoveButton").hide();

                $(window).scroll(function (){
                    if($(this).scrollTop() > 600){$("#pageMoveButton").fadeIn();}
                    else{$("#pageMoveButton").fadeOut();}
                });
            });

        </script>

        <!-- footer-->
        <footer>
            <div th:replace="/common/footer"></div>
        </footer>
    </div>
</div>
</body>
</html>