<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="/css/product/product.css" rel="stylesheet" type="text/css">
    <link href="/css/board/board.css" rel="stylesheet" type="text/css">
    <link href="/css/main/navigation.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/button.js"></script>
    <script src="/js/productDetail.js" type="text/javascript"></script>
    <script src="/js/productDetail2.js" type="text/javascript"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
<form action="basket/regist" method="post">
<!-- 상품 상세 페이지 -->
<div class="productDetail" id="productDetail">
    <!-- 헤더(로고, 상단 메뉴)-->
    <div th:replace="/common/board/navigation"></div>
    <!-- 상세페이지 컨텐츠 구역 -->
    <div class="productDetail-content">
        <!-- 상단 상품 정보 및 주문 구역 -->
        <div class="pd-container">
            <!-- 상품 썸네일 사진 -->
            <div class="pd-container-thumbnail">
                <img th:src="${ item.attachmentList.^[fileType == 'thumbnail'].filePath}">
                <input id="itemImg" type="hidden" th:src="${ item.attachmentList.^[fileType == 'thumbnail'].filePath}">
            </div>
            <!-- 정보 구역 -->
            <div class="pd-container-info">
                <span class="pd-container-title" style="font-size: 22px; padding-bottom: 20px;"
                      th:text="${ item.itemName }"></span>
                <div class="pd-container-price" style="padding-bottom: 20px;"
                     th:text="${#numbers.formatDecimal(item.salePrice, 0, 'COMMA', 0, 'POINT')} + '원'">

                </div>
                <div class="pd-option" style="border-top: rgba(108,106,106,0.1) 1px solid;">
                    <div class="pd-option-title" style="border-bottom: rgba(108,106,106,0.1) 1px solid;">
                        <div class="pd-title-inner">
                            <span style="border-bottom: rgb(0,0,0) 2px solid; padding-bottom: 2px">상세옵션</span>
                            <span style="font-size: 14px; font-weight: 400;">/</span>
                            <span style="font-size: 14px; font-weight: 400;">상품 기본 정보입니다.</span>
                        </div>
                    </div>
                    <div class="pd-option-container">
                        <table class="pd-option-info">
                            <colgroup>
                                <col style="width: 100px;">
                                <col>
                            </colgroup>
                            <tr rel="배송비" class="delivery-price">
                                <th scope="row">· 배송비</th>
                                <td>
                                    <span>3,000원</span>
                                    <span>(50,000원 이상 구매시 무료)</span>
                                </td>
                            </tr>
                            <tr rel="적립금" class="reward">
                                <th scope="row" >· 적립금</th>
                                <td>
                                    <span th:text="${#numbers.formatInteger(T(java.lang.Math).round(item.salePrice * 0.01), '0')}"></span>
                                    <span>(1%)</span>
                                </td>
                            </tr>
                            <tr rel="상품코드" class="product-code">
                                <th scope="row">· 상품코드</th>
                                <td>
                                    <span th:text="${ item.itemCode }"></span>
                                    <input id="itemCode" type="hidden" name="optionDetailCode.productManagementList.itemCode" th:value="${item.itemCode}">
                                </td>
                            </tr>
                            <tr rel="옵션" class="product-option">
                                <th scope="row">· 옵션</th>
                                <td>
                                    <select id="pdOption" onchange="numBtn()">
                                        <option value="" selected >-[필수] 옵션을 선택해 주세요.</option>
                                        <option value=""> ------------------------- </option>
                                        <option th:value="${ item.optionName }" th:text="${ item.optionName }"></option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="explain">
                        <span>· 최소 주문 수량 1개 이상</span><br>
                        <input type="hidden" id="itemQty" type="number" th:value="${1}">
                        <span>· 1세트 갯수가 정해져 있는 상품은 낱개 판매가 불가합니다.</span>
                    </div>
                    <div class="pd-price-title" style="border-bottom: rgba(108,106,106,0.1) 1px solid;">
                        <div class="pd-price-inner">
                            <span style="border-bottom: rgb(0,0,0) 2px solid; padding-bottom: 2px">선택된 옵션</span>
                            <span style="font-size: 14px; font-weight: 400;">/</span>
                            <span style="font-size: 14px; font-weight: 400;">선택하신 옵션 입니다.</span>
                        </div>
                    </div>
                    <div class="selected-option"  id="optionArea" th:text="${ item.optionName }">

                        <input type="hidden" id="optionCode" th:value="${ item.optionCode }>
                    </div>
                    <div class="selected-pd-price" id="priceArea" th:text="'￦ ' + ${#numbers.formatDecimal(item.salePrice, 0, 'COMMA', 0, 'POINT')}">
                        <input type="hidden" id="itemPrice" th:value="${item.salePrice}">

              
                    </div>

                    <script>
                        if (document.readyState === 'loading') {
                            document.addEventListener('DOMContentLoaded', ready)
                        } else {
                            ready();
                        }

                        function ready() {


                            priceInit();
                            optionInit();
                        }

                        function priceInit() {
                            let $priceArea = document.getElementById('priceArea');
                            $priceArea.style.display = 'none';
                        }

                        function optionInit() {
                            let $optionArea = document.getElementById('optionArea');
                            $optionArea.style.display = 'none';
                        }

                        function numBtn() {

                            let option = document.getElementById("pdOption");
                            let $option = option.options[option.selectedIndex].value;
                            option.textContent = $option;

                            let optionArea = document.getElementById("optionArea");
                            optionArea.style.display = 'block';

                            let priceArea = document.getElementById("priceArea");
                            priceArea.style.display = 'block';
                        }
                    </script>

                    <div class="pd-buy-button">
                        <ul style="display: flex">
                            <li class="buy" style="width: 280px; background-color: #DDC6C6;">
                                <span>
                                    <strong id="buyBtn">B U Y</strong>
                                </span>
                            </li>
                            <button type="button" class="cart" style="width: 230px; border: rgba(108,106,106,0.3) 2px solid " onclick="addBasket()">C A R T</button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pd-container-nav">
            <ul class="pd-container-navnav">
                <li><a>|</a></li>
                <li><a href="#sunImg">상품정보</a></li>
                <li><a>|</a></li>
                <li><a href="#review">상품후기</a></li>
                <li><a>|</a></li>
                <li><a href="#qna">상품문의</a></li>
                <li><a>|</a></li>
            </ul>
        </div>
        <div class="detailInfo showStep" id="sunImg">
            <div class="content">
                <img th:src="${ item.attachmentList.^[fileType == 'main'].filePath}"/>
            </div>
        </div>

        <div class="pd-container-review" id="review">
            <div class="pd-review-title">
                <a>REVIEW</a>
            </div>
            <!-- 후기 리스트 테이블 -->
            <table class="board-table">
                <thead>
                <tr style="border-top: #6C6A6A 2px solid;">
                    <th class="th2" style="width: 30px">NO</th>
                    <th class="th3" style="width: 170px">제목</th>
                    <th class="th6" style="width: 30px">평점</th>
                    <th class="th4" style="width: 30px">작성자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="review : ${ reviewList }">
                    <td th:text="${ review.reviewNo }"></td>
                    <td th:text="${ review.reviewTitle}" th:onclick="|location.href='/board/QnaDetail?no=${ qna.inquiryNo }'|" style="cursor: pointer;"></td>
                    <td th:text="${ review.grade } + ' / 5'"></td>
                    <td th:text="${ qna.memberNo.memberName }"></td>
                </tr>
                </tbody>
            </table>


<!--             후기작성 버튼 -->

            <div class="write-btn">
                <button type="button" id="modal-open">후기작성</button>
            </div>
        </div>
        <div class="pd-container-qna" id="qna">
            <div class="pd-qna-title">
                <a>Q & A</a>
            </div>
            <!-- Q&A 리스트 테이블 -->
            <table class="board-table">
                <thead>
                <tr style="border-top: #6C6A6A 2px solid;">
                    <th class="th2" style="width: 30px">NO</th>
                    <th class="th5" style="width: 30px">분류</th>
                    <th class="th3" style="width: 170px">제목</th>
                    <th class="th6" style="width: 30px">작성자</th>
                    <th class="th4" style="width: 30px">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="qna : ${ qnaList }">
                    <td th:text="${ qna.inquiryNo }"></td>
                    <td th:text="${ qna.inquiryType }"></td>
                    <td th:text="${ qna.inquiryTitle}" th:onclick="|location.href='/board/QnaDetail?no=${ qna.inquiryNo }'|" style="cursor: pointer;"></td>
                    <td th:text="${ qna.memberNo.memberName }"></td>
                    <td th:text="${ qna.writeDate }"></td>
                </tr>
                </tbody>
            </table>



<!--             Q&A 작성 버튼-->

            <div class="write-btn">
                <button type="button" id="modal-open1">문의하기</button>
            </div>
        </div>
    </div>
    <div class="PageMoveButton" id="pageMoveButton">
        <a class="up-logo" style="margin-bottom: 40px">▲</a>
        <a class="down-logo">▼</a>
    </div>

    <!-- footer-->
    <footer>
        <div th:replace="/common/footer"></div>
    </footer>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const topBtn = document.querySelector(".up-logo");

        topBtn.onclick = () => {
            window.scrollTo({ top: 0, behavior: "auto" });
        };
    });
    document.addEventListener("DOMContentLoaded", () => {
        const topBtn = document.querySelector(".down-logo");

        topBtn.onclick = () => {
            window.scrollTo({ top: document.body.scrollHeight, behavior: "auto" });
        };
    });
</script>

<!--후기작성 모달 -->
<div class="popup-wrap" id="popup"> <!-- //모달을 감쌀 박스 -->
    <div class="popup"> <!--실질적 모달팝업 -->
        <div class="popup-head">   <!-- 로고 영역 -->
            <span class="head-title">후기작성</span>
        </div>
        <div class="popup-body">   <!--컨텐츠 영역 -->
            <div class="body-content">
                <div class="body-contentbox">
                    <form id="registForm">
                        <table>
                            <tr>
                                <td>제목</td>
                                <td colspan="3"><input type="text" name="title" placeholder="&nbsp;&nbsp;제목을 입력해주세요." style="width: 600px;" ></td>
                            </tr>
                            <tr>
                                <td>작성자</td>
                                <td colspan="3"><input type="text" name="writer" style="width: 200px;"></td>
                            </tr>
                            <tr>
                                <td>평점</td>
                                <td colspan="3"><input type="text" name="grade" style="width: 50px;">&nbsp;&nbsp;/&nbsp;5점</td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td colspan="3">
                                    <textarea name="body" placeholder="&nbsp;&nbsp;내용을 입력해주세요." cols="80" rows="15" style="resize: none; border: rgba(108,106,106,0.3);" ></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div id="registButton">
                <button id="pop-btn-close" type="button" th:onclick="'#'">
                    취소</button>
                <button type="submit" id="pop-btn-confirm">등록하기</button>
            </div>
        </div>
    </div>
</div>

<!-- Q&A 모달 -->
<div class="popup-wrap" id="popup1"> <!-- //모달을 감쌀 박스 -->
    <div class="popup"> <!--실질적 모달팝업 -->
        <div class="popup-head">   <!-- 로고 영역 -->
            <span class="head-title">문의하기</span>
        </div>
        <div class="popup-body">   <!--컨텐츠 영역 -->
            <div class="body-content">
                <div class="body-contentbox">
                    <form id="registForm1" action="/board/qna" method="post">
                        <table>
                            <tr>
                                <th scope="row">카테고리</th>
                                <td name="qnaCategory" style="width: 200px;">
                                    <select id="select" name="inquiryType">
                                        <option value="selected" selected>선택하세요</option>
                                        <option value="상품문의">상품문의</option>
                                        <option value="기타문의">기타문의</option>
                                    </select>
                                    <input type="text" id="qnaCategoryInput">




                                </td>
                            </tr>
                            <!--                            <tr>-->
                            <!--                                <th scope="row">작성자</th>-->
                            <!--                                <td><input type="text" name="writer" style="width: 200px;"></td>-->
                            <!--                            </tr>-->
                            <tr>
                                <th>상품</th>
                                <td colspan="3" name="itemCode"  style="width: 750px;" th:text="${ item.itemName }"></td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td colspan="3"><input type="text" name="inquiryTitle" style="width: 750px;" ></td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td colspan="3">
                                    <textarea name="inquiryContent" placeholder="&nbsp;&nbsp;내용을 입력해주세요." cols="80" rows="15" style="resize: none;"></textarea>
                                </td>
                            </tr>
                        </table>
                        <div id="registButton1">
                            <button id="pop-btn-close1" type="button" th:onclick="'location.href=\'/product/productDetail\''">
                                취소</button>
                            <button type="submit" id="pop-btn-confirm1">등록하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('select').addEventListener('change', function() {
        var selectedValue = document.getElementById('select').value;
        if (selectedValue === '상품문의') {
            document.getElementById('qnaCategoryInput').value = '상품문의';
        } else if (selectedValue === '기타문의') {
            document.getElementById('qnaCategoryInput').value = '기타문의';
        } else {
            document.getElementById('qnaCategoryInput').value = '';
        }
    });

    const $tocart = document.getElementsByClassName('tocart');
    const $cartImg = document.getElementById('itemImg').src;
    const $cartItemTitle = document.getElementsByClassName('cart-item-title');
    const $itemCode = document.getElementById('itemCode').value;
    const $optionCode = document.getElementById('optionCode').value;
    const $optionName = document.getElementsByClassName('cart-item-option');
    const $count = document.getElementById('itemQty').value;
    const $price = document.getElementsByClassName('cart-price');

    function addBasket() {
        const basket = {
            itemImg: $cartImg,
            // "itemName": $cartItemTitle,
            itemCode: $itemCode,
            // "optionName": $optionName,
            optionCode: $optionCode,
            count: $count
            // "price": $price
        }
        fetch("/basket/regist", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=UTF-8'
            },
            body: JSON.stringify(basket)
        })
            .then(result => result.text())
            .then(result => {
                alert(result);
                if (result === "실패") {
                    alert("장바구니에 이미 있습니다.");
                } else if (result === "성공"){
                    console.log(basket);
                    alert("장바구니에 담았습니다.")

                }
                location.reload();
            })
            .catch(error => {
                console.log(error);
            });
    }

</script>
</form>
</body>
</html>