<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- meta tag : metadata(정보에 대한 정보) 제공
  화면에 표시되지는 않지만 검색 엔진/브라우저에 읽힘 -->
  <meta charset="UTF-8">
  <!-- 뷰 포트 : 화면상의 화상 표시 영역. 너비를 디바이스에 맞춤. 기본 배율은 1.
 데스크탑 화면과 모바일의 뷰 포트는 차이가 있기 때문에 필요한 설정. -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지 - 배송 완료</title>
  <!-- 외부 스타일 시트 -->
  <link rel="stylesheet" href="/css/admin/admin_nav.css" type="text/css">
  <link rel="stylesheet" href="/css/admin/order/admin_order.css" type="text/css">
  <link rel="stylesheet" href="/css/admin/order/admin_order-complete.css" type="text/css">
  <!-- Noto Sans Korean 글씨체 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dongle&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">
  <!-- 파비콘 -->
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <!-- 외부 script -->
  <script type="text/javascript" src="/js/admin/order/order.js"></script>
</head>

<body>

<div th:replace="/common/admin/admin-nav.html"></div>

<div class="order-categoryMenu">
  <header>
    <h1 class="order-title">주문관리</h1>
  </header>
  <div class="order-board">
    <ul class="order-category">
      <li class="category" id="new-order" ><div>신규주문</div></li>
      <li class="category" id="post-ready"><div>배송준비중</div></li>
      <li class="category" id="post-shipping"><div>배송중</div></li>
      <li class="category" id="post-complete"><div>배송완료</div></li>
      <li class="category" id="post-cancel"><div>취소요청</div></li>
      <li class="category" id="post-return"><div>반품요청</div></li>
      <li class="category" id="post-swap"><div>교환요청</div></li>
    </ul>
  </div>

    <label for="search-Box">
      <strong>검색</strong>
    </label>
    <input type="search" id="search-Box" placeholder="검색">

  <div class="order-list">
    <div id="order-num" class="orderList-title">주문번호/일자/ID/수취인</div>
    <div id="order-item" class="orderList-title">주문상품</div>
    <div id="order-price" class="orderList-title">상품금액</div>
    <div id="order-count" class="orderList-title">수량(EA)</div>
    <div id="order-message" class="orderList-title">요청사항</div>
    <div id="order-delivery" class="orderList-title">주소/운송장조회</div>
  </div>

  <div class="order-container">
    <table class="completeListArea">
      <tbody>
      <!-- 주문 데이터를 순환하며 표시 -->
      <tr th:each="order : ${orderList}" class="newOrderList">
        <td class="order-data">
          <p th:text="${order.orderNo}" id="orderData-1"></p>
          <p th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}" id="orderData-2"></p>
          <p th:text="${order.userId}" id="orderData-12"></p>
          <p th:text="${order.recipientName}" id="orderData-3"></p>
        </td>

        <td class="order-data2">
          <span th:text="${order.itemName}" id="orderData-4"></span>
          <span th:text="${order.optionName}" id="orderData-5"></span>
        </td>

        <td th:text="${order.paymentPrice}" id="orderData-6"></td>
        <td th:text="${order.orderCount}" id="orderData-7"></td>
        <td th:text="${order.deliveryRequest}" id="orderData-8"></td>

        <td class="order-data3" style="text-align: center">
          <span th:text="${order.zipCode}" id="Data-zipCode"></span>
          <span th:text="${order.address}" id="Data-address"></span>
          <p th:text="${order.addressDetail}" id="Data-addressDetail"></p>
          <p th:text="${order.postOffice}" id="orderData-9"></p>
          <span th:text="${order.registrationNo}" id="orderData-10"></span>


        </td>

      </tr>
      </tbody>
    </table>
  </div>




</div>

<script>
  /* 검색 기능*/

  document.addEventListener('DOMContentLoaded', function () {
    const payrollSearch = document.querySelector('#search-Box');
    const payrollTable = document.querySelector('.completeListArea tbody');
    const allRows = payrollTable.querySelectorAll('tr');

    payrollSearch.addEventListener('keyup', function () {
      const filterValue = payrollSearch.value.toLowerCase();

      allRows.forEach(function (row) {
        var rowText = row.textContent.toLowerCase();
        if (rowText.includes(filterValue)) {
          row.style.display = ''; // 일치하는 경우 보이게 함
        } else {
          row.style.display = 'none'; // 일치하지 않는 경우 숨김
        }
      });
    });
  });
</script>

</body>
</html>
