<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta tag : metadata(정보에 대한 정보) 제공
    화면에 표시되지는 않지만 검색 엔진/브라우저에 읽힘 -->
    <meta charset="UTF-8">
    <!-- 뷰 포트 : 화면상의 화상 표시 영역. 너비를 디바이스에 맞춤. 기본 배율은 1.
   데스크탑 화면과 모바일의 뷰 포트는 차이가 있기 때문에 필요한 설정. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 - 반품</title>
    <!-- 외부 스타일 시트 -->
    <link rel="stylesheet" href="/css/admin/admin_nav.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/order/admin_order.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/order/admin_order-return.css" type="text/css">
    <!-- Noto Sans Korean 글씨체 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dongle&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@600&display=swap" rel="stylesheet">
    <!-- 파비콘 -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <!-- 외부 script -->
    <script type="text/javascript" src="/js/admin/order/order.js"></script>
</head>

<body>

<div th:replace="/common/admin/admin-nav.html"></div>

<div class="order-categoryMenu">
    <header>
        <h1 class="order-title">주문관리</h1>
    </header>
    <div class="order-board">
        <ul class="order-category">
            <li class="category" id="new-order" ><div>신규주문</div></li>
            <li class="category" id="post-ready"><div>배송준비중</div></li>
            <li class="category" id="post-shipping"><div>배송중</div></li>
            <li class="category" id="post-complete"><div>배송완료</div></li>
            <li class="category" id="post-cancel"><div>취소요청</div></li>
            <li class="category" id="post-return"><div>반품요청</div></li>
            <li class="category" id="post-swap"><div>교환요청</div></li>
        </ul>
    </div>


    <div class="order-view">
        <button id="ReturnList" class="order-btn"><img src="/images/readingGlass.png" alt="조회" id="returnList-img">반품내역 조회</button>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeModal">&times;</span>
                <h2>주문 취소 내역</h2>
                <label for="search-Box">
                    <strong>검색</strong>
                </label>
                <input type="search" id="search-Box" placeholder="검색">
                <table class="returnListArea">
                    <thead>
                    <tr>
                        <th class="returnOrder-Data">반품번호</th>
                        <th class="returnOrder-Data">주문날짜</th>
                        <th class="returnOrder-Data">ID</th>
                        <th class="returnOrder-Data">수취인</th>
                        <th class="returnOrder-Data">핸드폰번호</th>
                        <th class="returnOrder-Data">주문상품</th>
                        <th class="returnOrder-Data">상품금액</th>
                        <th class="returnOrder-Data">수량</th>
                        <th class="returnOrder-Data">반품사유</th>
                        <th class="returnOrder-Data">반품날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="return : ${ returnDetailList }" class="cancelOrderDataList">
                        <td th:text="${ return.refundNumber }" class="returnOrder-Data"></td>
                        <td th:text="${#dates.format(return.orderDate, 'yyyy-MM-dd HH:mm:ss') }" class="returnOrder-Data"></td>
                        <td th:text="${return.userId}" class="returnOrder-Data"></td>
                        <td th:text="${return.recipientName}" class="returnOrder-Data"></td>
                        <td th:text="${return.recipientPhone}" class="returnOrder-Data"></td>
                        <td th:text="${ return.itemName +' '+return.optionName }" class="returnOrder-Data"></td>
                        <td th:text="${ return.paymentPrice }" class="returnOrder-Data"></td>
                        <td th:text="${ return.orderCount}" class="returnOrder-Data"></td>
                        <td th:text="${ return.refundReason}" class="returnOrder-Data"></td>
                        <td th:text="${ #dates.format(return.cancelDate, 'yyyy-MM-dd HH:mm:ss') }" class="returnOrder-Data"></td>
                    </tr>
                    </tbody>
                </table>
                <button id="modalCloseBtn" type="button">닫기</button>
            </div>
        </div>
    </div>

    <div class="order-list">
        <div id="order-num" class="orderList-title">주문번호/일자/ID/수취인</div>
        <div id="order-item" class="orderList-title">주문상품</div>
        <div id="order-price" class="orderList-title">상품금액</div>
        <div id="order-count" class="orderList-title">수량</div>
        <div id="order-message" class="orderList-title">반품사유</div>
        <div id="order-delivery" class="orderList-title">결제방법</div>
    </div>

        <div class="order-container">
            <table>
                <tbody>
                <!-- 주문 데이터를 순환하며 표시 -->
                <tr th:each="order : ${returnList}" class="newOrderList">
                    <td class="order-data">
                        <p th:text="${order.orderNo}" id="orderData-1"></p>
                        <p th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}" id="orderData-2"></p>
                        <p th:text="${order.userId}" id="orderData-12"></p>
                        <p th:text="${order.recipientName}" id="orderData-3"></p>
                    </td>

                    <td class="order-data2">
                        <span th:text="${order.itemName}" id="orderData-4"></span>
                        <span th:text="${order.optionName}" id="orderData-5"></span>
                    </td>

                    <td th:text="${order.paymentPrice}" id="orderData-6"></td>
                    <td th:text="${order.orderCount}" id="orderData-7"></td>
                    <td th:text="${order.refundReason}" id="orderData-8"></td>

                    <td class="order-data3">
                        <form action="/order/order-swap" method="post" class="postForm">

                            <input type="hidden" name="selectedOrderNo" th:value="${order.orderNo}" id="selectedOrderNo">
                            <input type="submit" value="반품처리" class="registBtn w-btn w-btn-blue">

                        </form>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>




</div>


</body>
</html>
<script>
    const registBtnElement = document.querySelector('.registBtn');

    if (registBtnElement) {
        registBtnElement.addEventListener('click', function (event) {
            // 추가 확인을 요청하는 경고창 표시
            const confirmation = confirm('반품처리 하시겠습니까?');

            if (!confirmation) {
                event.preventDefault();
            }
        });
    }


    /*---------------------------------반품내역조회 모달 --------------------------------------*/
    const openModalButton = document.getElementById('ReturnList');
    const modal = document.getElementById('myModal');
    const closeModalButton = document.getElementById('closeModal');
    const closeBtn = document.getElementById('modalCloseBtn');

    openModalButton.addEventListener('click', function () {
        modal.style.display = 'block';
    });

    closeModalButton.addEventListener('click', function () {
        modal.style.display = 'none';
    });

    closeBtn.addEventListener('click', function (){
        modal.style.display = 'none';
    });

    window.addEventListener('click', function (event) {
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    });

    /* 검색 기능*/

    document.addEventListener('DOMContentLoaded', function() {
        // 검색창 element를 id값으로 가져오기
        const payrollSearch = document.querySelector('#search-Box');
        // 테이블의 tbody element를 id값으로 가져오기
        const payrollTable = document.querySelector('.returnListArea tbody');

        //검색창 element에 keyup 이벤트 세팅. 글자 입력 시 마다 발생.
        payrollSearch.addEventListener('keyup', function() {
            // 사용자가 입력한 검색어의 value값을 가져와 소문자로 변경하여 filterValue에 저장
            const filterValue = payrollSearch.value.toLowerCase();
            // 현재 tbody안에 있는 모든 tr element를 가져와 rows에 저장
            const rows = payrollTable.querySelectorAll('tr');

            //tr들 for문으로 순회
            for (var i = 0; i < rows.length; i++) {
                // 현재 순회중인 tr의 textContent를 소문자로 변경하여 rowText에 저장
                var rowText = rows[i].textContent.toLowerCase();
                // rowText가 filterValue를 포함하면, 해당 tr은 보여지게 하고, 그렇지 않으면 숨긴다.
                if (rowText.includes(filterValue)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        });
    });
</script>
