<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>관리자 페이지 - 기부금 관리</title>

    <link rel="stylesheet" href="/css/admin/admin_nav.css" type="text/css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dongle&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@600&display=swap"
          rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>
<div th:replace="/common/admin-nav.html"></div>


<h1 align="center"> 매입 관리 페이지 입니다</h1>

</body>
</html>