<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    <!-- 외부 스타일 시트 -->
    <link href="/src/main/resources/css/myPage/MemberInformationModifyStyle.css" rel="stylesheet" type="text/css">
    <!-- 리셋 CSS : 브라우저별로 디폴트로 적용 된 CSS(여백, 폰트 등)에 차이가 있으므로
   브라우저별로 다르게 보일 수 있어 리셋 CSS를 활용한다. -->
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="headerBanner">
        야옹아 기부하게
    </header>

    <nav class="itemCategory">
        <a id="snack" href="snack.html"> 간식 </a>
        <a id="petFood" href="petFood.html"> 사료 </a>
        <a id="beautyProduct" href="beautyProduct.html"> 미용용품 </a>
        <a id="fashionProduct" href="fashionProduct.html"> 패션용품 </a>
        <a id="cleanProduct" href="cleanProduct.html"> 위생용품 </a>
        <a id="toyAndTrainingProduct" href="toyAndTrainingProduct.html"> 장난감/훈련용품 </a>
        <a id="notice" href="notice.html"> 공지사항 </a>
    </nav>

    <nav class="myPageCategory">
        <p id="categoryTitle">마이쇼핑</p>
        <br>
        <button class="categoryBtn" id="orderHistoryInquiry" onclick="location.href='OrderDetail.html'">주문내역 조회</button>
        <br>
        <button class="categoryBtn" id="creInquiry" onclick="location.href='CancelReturnExchange.html'">취소 반품 교환
            조회</button> <br>
        <button class="categoryBtn" id="mInforModify" onclick="location.href='MemberInformationModify.html'">회원정보
            수정</button> <br>
        <button class="categoryBtn" id="interestProduct" onclick="location.href='InterestProduct.html'">관심 상품</button>
        <br>
        <button class="categoryBtn" id="recentViewedProduct" onclick="location.href='RecentViewedProduct.html'">최근 본
            상품</button> <br>
        <button class="categoryBtn" id="savedMoney" onclick="location.href='SavedMoney.html'">적립금</button>
    </nav>

    <section class="joinArea">

        <p class="joinTitle">회원정보 수정</p>

        <form class="joinForm" action="/member/join" method="post">

            <hr class="joinHr" id="joinHr1">

            <div class="idArea">
                <label class="joinInput">아이디 : </label>
                <img src="/src/main/resources/images/asterisk.png" alt="test" width="10" height="10">
                <input class="inputBG" id="inputId" type="text" name="id" value="  ID" style="color: rgb(185, 190, 201)" readonly>
            </div>

            <hr class="joinHr">

            <div class="pwdArea">
            <label class="joinInput">비밀번호 : </label>
            <img src="/src/main/resources/images/asterisk.png" alt="test" width="10" height="10">
            <input class="inputBG" id="inputPwd" type="password" name="pwd" value="">
            <span id="pwdSpan">(영문 대소문자/숫자/특수 문자 중 세 가지 이상 8자~16자)</span>
        </div>

            <hr class="joinHr">

            <div class="pwdChkArea">
            <label class="joinInput">비밀번호 확인 : </label>
            <img src="/src/main/resources/images/asterisk.png" alt="test" width="10" height="10">
            <input class="inputBG" type="text" name="name">
        </div>

            <hr class="joinHr">

            <div class="nameArea">
            <label class="joinInput">이름 : </label>
            <img src="/src/main/resources/images/asterisk.png" alt="test" width="10" height="10">
            <input class="inputBG" id="inputName" type="text" name="name" value="  홍길동" style="color: rgb(185, 190, 201)">
        </div>

            <hr class="joinHr">

            <div class="phoneArea">
            <label class="joinInput">휴대전화 : </label>
            <img src="/src/main/resources/images/asterisk.png" alt="test" width="10" height="10">
            <select class="inputBG2" id="inputPhone1" style="color: rgb(185, 190, 201)">
                <option value="010" selected>010</option>
                <option value="011">011</option>
                <option value="016">016</option>
                <option value="017">017</option>
                <option value="018">018</option>
                <option value="019">019</option>
            </select>
            
            <input class="inputBG2" id="inputPhone2" type="text">
            <input class="inputBG2" id="inputPhone3" type="text">
        </div>

            <hr class="joinHr">

            <div class="addrArea">
            <label class="joinInput">주소 : </label>
            <img src="/src/main/resources/images/asterisk.png" alt="test" width="10" height="10">
            <input class="inputBG3" id="inputPost" type="text" name="zipCode" value="  우편번호"
                style="color: rgb(185, 190, 201)">
            <button id="inputPostBtn" onclick="location.href='cancel.html'">주소검색</button>
            <br>
            <input class="inputBG" id="inputBasicAddr" type="text" name="address" value="  기본주소"
                style="color: rgb(185, 190, 201)">
            <br>
            <input class="inputBG" id="inputRAddr" type="text" name="rAddress" value="  나머지 주소(선택 입력 가능)"
                style="color: rgb(185, 190, 201)">
            </div>

            <hr class="joinHr">

            <div class="emailArea">
            <label class="joinInput">이메일 : </label>
            <img src="/src/main/resources/images/asterisk.png" alt="test" width="10" height="10">
            <input class="inputBG" id="inputEmail" type="text" name="zipCode" value="  songbyhyeok@gmail.com"
                style="color: rgb(185, 190, 201)">
            </div>

            <hr class="joinHr">

            <button id="withdrawalBtn" onclick="location.href='join.html'">회원 탈퇴</button>

            <div class="modifyFunBtns">
                <button id="checkBtn" onclick="location.href='join.html'">확인</button>
                <button id="cancelBtn" onclick="location.href='cancel.html'">취소</button>
            </div>

        </form>

    </section>

</body>

</html>