<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>주문내역 조회</title>
    <!-- 외부 스타일 시트 -->
    <link href="/css/myPage/OrderDetailStyle.css" rel="stylesheet" type="text/css">
    <!-- 리셋 CSS : 브라우저별로 디폴트로 적용 된 CSS(여백, 폰트 등)에 차이가 있으므로
   브라우저별로 다르게 보일 수 있어 리셋 CSS를 활용한다. -->
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        const message = '[[${message}]]';
        message && alert(message);
    </script>

</head>

<body>
<!-- 헤더(로고, 상단 메뉴)-->
<div th:replace="/common/board/navigation"></div>

<nav class="myPageCategory">
    <p id="categoryTitle">마이쇼핑</p>
    <br>
    <button class="categoryBtn" id="orderHistoryInquiry" onclick="location.href='OrderDetail'">주문내역 조회</button>
    <br>
    <button class="categoryBtn" id="creInquiry" onclick="location.href='CancelReturnExchange'">취소 반품 교환 조회</button>
    <br>
    <button class="categoryBtn" id="mInforModify" onclick="location.href='MemberInformationModify'">회원정보 수정</button>
    <br>
    <button class="categoryBtn" id="interestProduct" onclick="location.href='InterestProduct'">관심 상품</button>
    <br>
    <button class="categoryBtn" id="recentViewedProduct" onclick="location.href='RecentViewedProduct'">최근 본 상품</button>
    <br>
    <button class="categoryBtn" id="savedMoney" onclick="location.href='SavedMoney'">적립금</button>
</nav>

<main class="myOrderList">

    <p id="orderListTitle">나의 주문내역</p>

    <div class="myOrderButton">
        <button class="inqueryBtn" id="inqueryBtn1" onclick="location.href='join.html'">전체 주문처리 상태</button>
        <button class="inqueryBtn" id="inqueryBtn2" onclick="location.href='join.html'">오늘</button>
        <button class="inqueryBtn" id="inqueryBtn3" onclick="location.href='join.html'">1주일</button>
        <button class="inqueryBtn" id="inqueryBtn4" onclick="location.href='join.html'">1개월</button>
        <button class="inqueryBtn" id="inqueryBtn5" onclick="location.href='join.html'">3개월</button>
        <button class="inqueryBtn" id="inqueryBtn6" onclick="location.href='join.html'">6개월</button>
        <button class="inqueryBtn" id="inqueryBtn7" onclick="location.href='join.html'">시작 날짜</button>
        <button class="inqueryBtn" id="inqueryBtn8" onclick="location.href='join.html'">끝 날짜</button>
        <button class="inqueryBtn" id="inqueryBtn9" onclick="location.href='join.html'">조회하기</button>
    </div>

    <div class="myOrderDesc">
        <table summary="주문 상품 정보란 서술">
            <tbody>
            <tr>
                <th scope="" class="orderSTitle">주문 상품 정보</th>
                <th scope="" class="orderSTitle" id="orderInfor1">아래 주문 상품 정보를 확인하세요.</th>
            </tr>

            <tr>
                <th><input type="checkbox" id="allCheckbox" onclick="selectAllCheckBox()"> 전체선택</th>
                <th scope="" class="orderCatName">주문일자/주문번호</th>
                <th scope="" class="orderCatName" id="orderImgTxt">이미지</th>
                <th scope="" class="orderCatName">상품정보</th>
                <th scope="" class="orderCatName">수량</th>
                <th scope="" class="orderCatName">상품구매금액</th>
                <th scope="" class="orderCatName">주문처리상태</th>
                <th scope="" class="orderCatName" id="ercThId">교환/반품/주문취소</th>
            </tr>

            <td colspan="8">
                <span>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
            </td>

            <div class="orderDetailDivArea" th:each="myPageOrderDetail, odStat : ${myPageOrderDetailList}">
                <tr>
                    <td colspan="7" class=""></td>
                    <th>
                        <button type="button" class="exchangeClass" id="exchange"
                                th:onclick="changeSelectedOrderStatus(
                                [[${odStat.index}]],
                                [[${myPageOrderDetail.orderDateAndN}]],
                                '교환요청')">교환
                        </button>
                    </th>
                </tr>

                <tr class="orderDetailTextArea">
                    <td>
                        <input type="checkbox" class="orderCheckboxClass"
                               th:onclick="selectCheckBoxes([[${odStat.index}]])">
                        <span th:text="${odStat.index + '.'}"></span>
                    </td>
                    <td class="orderCatArea" id="orderDateN" th:text="${myPageOrderDetail.orderDateAndN}"
                        style="text-align: center"></td>
                    <td class="orderCatArea" id="orderImgTextId" th:text="'NULL!'"></td>
                    <td class="orderCatArea" th:text="${myPageOrderDetail.itemInfo}"></td>
                    <td class="orderCatArea" id="orderCntTextId" th:text="${myPageOrderDetail.itemCnt}"></td>
                    <td class="orderCatArea" th:text="${myPageOrderDetail.paymentPrice}"></td>
                    <td class="orderCatArea" th:text="${myPageOrderDetail.orderStatus}"></td>
                    <td class="orderCatArea" id="orderStatusId" th:text="${myPageOrderDetail.statusOfCER}"></td>
                    <td>
                        <button type="button" class="itemReturnClass" id="itemReturn" style="font-weight: bold"
                                th:onclick="changeSelectedOrderStatus(
                                [[${odStat.index}]],
                                [[${myPageOrderDetail.orderDateAndN}]],
                                '반품요청')">반품
                        </button>
                    </td>
                </tr>

                <tr>
                    <td colspan="7" class=""></td>
                    <th>
                        <button type="button" class="cancelClass" id="cancel" th:onclick="changeSelectedOrderStatus(
                                [[${odStat.index}]],
                                [[${myPageOrderDetail.orderDateAndN}]],
                                '취소요청')">취소
                        </button>
                    </th>
                </tr>

                <tr>
                    <td colspan="8">
                        <span>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
                    </td>
                </tr>
            </div>

            <tr>
                <td>
                </td>

                <td colspan="2">
                    <button type="button" style="font-weight: bold" onclick="changeSelectedOrderStatus(
                                null,
                        null,
                                '교환요청')">교환
                    </button>
                </td>
                <td colspan="2">
                    <button type="button" style="font-weight: bold" onclick="changeSelectedOrderStatus(
                        null,
                        null,
                                '반품요청')">반품
                    </button>
                </td>
                <td>
                    <button type="button" style="font-weight: bold" onclick="changeSelectedOrderStatus(
                        null,
                        null,
                                '취소요청')">취소
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</main>

<script>
    // 선택된 체크박스들의 상태 변경시키는 메소드
    function changeSelectedOrderStatus(currIdx, orderDateAndN, orderStatusName) {

        let orderN_List = [];

        console.log(currIdx);
        console.log(orderDateAndN);
        console.log(orderStatusName);

        // 단일 수행 모드
        if (orderDateAndN) {
            let currChkBox = allChildCheckboxes.item(currIdx);
            if (currChkBox != null) {
                if (!currChkBox.checked) {
                    alert("해당 요소의 체크박스를 선택해 주세요!")
                    return;
                }
            }

            console.log(orderDateAndN);
            console.log(orderStatusName);

            let orderN = orderDateAndN.split('/ ')[1];
            orderN_List = [orderN];

            console.log(orderN);
            console.log("클릭햇다!")
        } else {
            // 복수 선택 수행 모드
            let orderDetailOB = document.getElementsByClassName("orderDetailTextArea");
            console.log(orderDetailOB);

            for (let i = 0; i < allChildCheckboxes.length; i++) {
                let item = allChildCheckboxes.item(i);
                if (item.checked) {

                    let orderDateN = orderDetailOB.item(i).children[1].innerHTML;
                    console.log(orderDateN);
                    let orderN = orderDateN.split('/ ')[1];
                    console.log(orderN);

                    orderN_List.push(orderN);
                }
            }
        }

        let orderDatas = {
            orderStatusName: orderStatusName,
            orderN_List: orderN_List
        }

        console.log("주문상세 비동기 실행!");
        fetch("/myPage/OrderDetail", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json;charset=UTF-8'
            },
            body: JSON.stringify(orderDatas)
        })
            .then(response => response.json())
            .then(data => {
                // 서버에서 받은 데이터(data)를 사용합니다.
                console.log("서버 = " + data);
                localStorage.setItem('sendData', JSON.stringify(data));
            })
            .catch(error => {
                console.error('데이터를 가져오는 중 오류 발생: ' + error);
            });

        var popupWidth = 400;
        var popupHeight = 400;

        var popupX = (window.screen.width / 2) - (popupWidth / 2);
        // 만들 팝업창 width 크기의 1/2 만큼 보정값으로 빼주었음

        var popupY= (window.screen.height / 2) - (popupHeight / 2);
        // 만들 팝업창 height 크기의 1/2 만큼 보정값으로 빼주었음

        popupX = (document.body.offsetWidth / 2) - (popupWidth / 2);
        // 만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음

        popupY= (window.screen.height / 2) - (popupHeight / 2);
        // 만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음

        switch (orderStatusName) {
            case "교환요청":
                window.open("/order/orderSwap", "교환요청 페이지!", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY);
                break;
            case "반품요청":
                window.open("/order/orderRefund", "반품요청 페이지!", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY);
                break;
        }
    }

    // 전체 체크박스 이벤트 로직-->
    function selectAllCheckBox() {
        if (allCheckboxBtn) {
            let isActivated = false;

            if (allCheckboxBtn.checked) {
                isActivated = true;

                // 이전의 선택된 요소가 담겨 있다면 누적되기 때문에 초기화를 시킨다.
                if (checkboxes.length != 0) {
                    checkboxes.length = 0;
                    checkboxes.length = maxCheckboxCnt;
                }

            } else {
                console.log("체크박스 전체 선택 취소!");
                checkboxes.length = 0;
                checkboxes.length = maxCheckboxCnt;
            }

            // 모든 체크박스를 가져와서 활성 혹은 비활성화 시킨다.
            for (let i = 0; i < allChildCheckboxes.length; i++) {
                if (isActivated) {
                    allChildCheckboxes.item(i).checked = true;
                    checkboxes.push(allChildCheckboxes.item(i));
                } else {
                    allChildCheckboxes.item(i).checked = false;
                }
            }
        }
    }

    // 부분 체크박스 로직-->
    function selectCheckBoxes(currIdx) {
        // 현재 체크박스 가져오기
        let currChkBox = allChildCheckboxes.item(currIdx);
        if (currChkBox != null) {

            // 해당 체크박스가 체크됐다면? 선택 개수 카운트를 증가시킨다.
            if (currChkBox.checked) {
                checkboxes.splice(currIdx, 0, currChkBox);
            } else {
                // 그게 아니라면 체크된 상황에서 뺀거니까 감소
                checkboxes.splice(currIdx, 1);
            }

            // 선택 개수 카운트가 맥스 개수와 같다면 전체 선택 체크박스를 체크시킨다.
            if (checkboxes.length == maxCheckboxCnt + 10) {
                allCheckboxBtn.checked = true;
            } else if (checkboxes.length == (maxCheckboxCnt + 10) - 1) {
                console.log("-1 call");
                // 선택 개수 카운트 -1 상황에서 전체 선택 체크박스가 켜졌다면 끈다. -> 전체 선택 상황에서 하나를 끈 상황이기 때문
                if (allCheckboxBtn.checked)
                    allCheckboxBtn.checked = false;
            }
        }
    }

    console.log("오더디테일 js 실행");

    // 체크박스 최대 개수-->
    var maxCheckboxCnt = document.getElementsByClassName("orderCheckboxClass").length;
    console.log(maxCheckboxCnt);

    // 선택된 체크박스들을 포괄시키기 위해 리스트를 사용한다.
    var checkboxes = [];
    checkboxes.length = maxCheckboxCnt;
    console.log(checkboxes);

    // 전체 체크박스 클래스
    var allChildCheckboxes = document.getElementsByClassName("orderCheckboxClass");

    // 전체 체크박스 객체 버튼
    var allCheckboxBtn = document.getElementById("allCheckbox");

</script>

</body>

</html>