<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>적립금</title>
    <!-- 외부 스타일 시트 -->
    <link href="/css/myPage/SavedMoneyStyle.css" rel="stylesheet" type="text/css">
    <!-- 리셋 CSS : 브라우저별로 디폴트로 적용 된 CSS(여백, 폰트 등)에 차이가 있으므로
   브라우저별로 다르게 보일 수 있어 리셋 CSS를 활용한다. -->
   <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- 헤더(로고, 상단 메뉴)-->
<div th:replace="/common/board/navigation"></div>

    <nav class="myPageCategory">
        <p id="categoryTitle">마이쇼핑</p>
        <br>
        <button class="categoryBtn" id="orderHistoryInquiry" onclick="location.href='OrderDetail'">주문내역 조회</button> <br>
        <button class="categoryBtn" id="creInquiry" onclick="location.href='CancelReturnExchange'">취소 반품 교환 조회</button> <br>
        <button class="categoryBtn" id="mInforModify" onclick="location.href='MemberInformationModify'">회원정보 수정</button> <br>
        <button class="categoryBtn" id="interestProduct" onclick="location.href='InterestProduct'">관심 상품</button> <br>
        <button class="categoryBtn" id="recentViewedProduct" onclick="location.href='RecentViewedProduct'">최근 본 상품</button> <br>
        <button class="categoryBtn" id="savedMoney" onclick="location.href='SavedMoney'">적립금</button>
    </nav>

    <main class="savedArea">
        <img id="moneyImg" src="/images/money.png" alt="test" >

        <p id="savedTitle">적립금 목록</p>
        
        <hr class="hrLine" id="line1">

        <table summary="최근 본 상품 목록">
            <tr>
                <td>
                    <img src="/images/check.png" alt="test" >
                </td>
                <td>
                    총 적립금
                </td>
                <td>
                    <span class="priceText">2,000원</span>
                </td>
            </tr>

            <hr class="hrLine" id="line2">

            <tr>
                <td>
                    <img src="/images/check.png" alt="test" >
                </td>
                <td>
                    사용가능 적립금
                </td>
                <td>
                    <span class="priceText">2,000원</span>
                </td>
            </tr>

            <hr class="hrLine" id="line3">

            <tr>
                <td>
                    <img src="/images/check.png" alt="test" >
                </td>
                <td>
                    환불예정 적립금
                </td>
                <td>
                    <span class="priceText">2,000원</span>
                </td>
            </tr>

            <hr class="hrLine" id="line4">

            <tr>
                <td>
                    <img src="/images/check.png" alt="test" >
                </td>
                <td>
                    사용된 적립금    
                </td>
                <td>
                    <span class="priceText">2,000원</span>
                </td>
            </tr>

            <hr class="hrLine" id="line5">

            <tr>
                <td>
                    <img src="/images/check.png" alt="test" >
                </td>
                <td>
                    미가용 적립금
                </td>
                <td>
                    <span class="priceText">2,000원</span>
                </td>
            </tr>

            <hr class="hrLine" id="line6">

        </table>

        <div class="detailTable"></div>

        <hr class="hrLine" id="line7">

        <table>
            <tr>
                <td>
                    <tr><span id="savedMoneyText">적립금/ </span></tr>
                    <tr><span id="savedMoneydetailText">적립금 내역을 상세히 확인할 수 있습니다.</span></tr>
                </td>
            </tr>

            <hr class="hrLine" id="line8">

            <tr>
                <td class="sMoneyCategory">주문날짜</td>
                <td class="sMoneyCategory">적립금</td>
                <td class="sMoneyCategory">관련 주문</td>
                <td class="sMoneyCategory">적립금 상세 내용</td>
            </tr>

            <hr class="hrLine" id="line9">

            <tr>
                <td class="sMoneyContent">2023-09-11</td>
                <td class="sMoneyContent">2000원</td>
                <td class="sMoneyContent"></td>
                <td class="sMoneyContent">신규회원 적립금</td>
            </tr>
        </table>



    </main>

</body>

</html>