<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gibuhagae.gibuhagae.board.dao.BoardMapper">

    <resultMap type="com.gibuhagae.gibuhagae.board.dto.NoticeDTO" id="generalBoardResultMap">
        <id property="noticeNo" column="NOTICE_NO"/>
        <result property="noticeTitle" column="NOTICE_TITLE"/>
        <result property="noticeContent" column="NOTICE_CONTENT"/>
        <result property="writeDate" column="WRITE_DATE"/>
        <result property="views" column="VIEWS"/>
        <result property="updateDate" column="UPDATE_DATE"/>
        <result property="status" column="STATUS"/>

        <association property="memberNo" resultMap="memberResultMap"/>
<!--        <collection property="replyList" resultMap="replyResultMap"/>-->
    </resultMap>

    <resultMap type="com.gibuhagae.gibuhagae.member.dto.MemberDTO" id="memberResultMap">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberPhone" column="MEMBER_PHONE"/>
        <result property="zipCode" column="ZIPCODE"/>
        <result property="address" column="ADDRESS"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="updateDate" column="UPDATE_DATE"/>
        <result property="email" column="EMAIL"/>
        <result property="donatePrice" column="DONATE_PRICE"/>
        <result property="password" column="PASSWORD"/>
        <result property="userId" column="USER_ID"/>
        <result property="userCode" column="USER_CODE"/>
        <result property="loginType" column="LOGIN_TYPE"/>
        <result property="activationStatus" column="ACTIVATION_STATUS"/>
    </resultMap>







    <select id="selectTotalCount" resultType="_int">
        SELECT
        COUNT(*)
        FROM NOTICE_BOARD A
    </select>


    <select id="selectNoticeList" resultMap="generalBoardResultMap">
        SELECT
              A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_CONTENT
             , A.WRITE_DATE
             , A.VIEWS
             , D.MEMBER_NAME
             , A.UPDATE_DATE
             , A.STATUS
        FROM (SELECT
                  ROWNUM RNUM
                   , B.NOTICE_NO
                   , B.NOTICE_TITLE
                   , B.NOTICE_CONTENT
                   , B.WRITE_DATE
                   , B.VIEWS
                   , B.MEMBER_NO
                   , B.UPDATE_DATE
                   , B.STATUS
              FROM(
                  SELECT
                            C.NOTICE_NO
                          , C.NOTICE_TITLE
                          , C.NOTICE_CONTENT
                          , C.WRITE_DATE
                          , C.VIEWS
                          , C.MEMBER_NO
                          , C.UPDATE_DATE
                          , C.STATUS
                      FROM NOTICE_BOARD C
                ORDER BY C.NOTICE_NO ASC
                ) B
            <![CDATA[
                  WHERE ROWNUM <= #{endRow}
            ]]>
                  )A
                 JOIN MEMBER D ON (A.MEMBER_NO = D.MEMBER_NO)
        WHERE A.RNUM >= #{startRow}
        ORDER BY A.NOTICE_NO ASC
    </select>

</mapper>

