<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gibuhagae.gibuhagae.product.dao.ProductMapper">

    <resultMap id="productResultMap" type="com.gibuhagae.gibuhagae.product.dto.ItemDTO">
        <id property="itemCode" column="ITEM_CODE"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="saleStatus" column="SALE_STATUS"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="totalCount" column="TOTAL_COUNT"/>

        <result property="refCategoryCode" column="REF_CATEGORY_CODE"/>
        <result property="optionCode" column="OPTION_CDOE"/>
        <result property="salePrice" column="SALE_PRICE"/>
        <collection property="attachmentList" resultMap="attachmentResultMap"/>
<!--        <result property="fileNo" column="FILE_NO"/>-->
<!--        <result property="fileName" column="FILE_NAME"/>-->
<!--        <result property="fileType" column="FILE_TYPE"/>-->
<!--        <result property="filePath" column="FILE_PATH"/>-->
    </resultMap>

    <resultMap id="itemCategoryResultMap" type="com.gibuhagae.gibuhagae.product.dto.ItemCategoryDTO">
        <id property="categoryCode" column="CATEGORY_CODE"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="refCategoryCode" column="REF_CATEGORY_CODE"/>
    </resultMap>

    <resultMap id="optionResultMap" type="com.gibuhagae.gibuhagae.product.dto.OptionDTO">
        <id property="optionCode" column="OPTION_CODE"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="salePrice" column="SALE_PRICE"/>
        <result property="itemCode" column="ITEM_CODE"/>
        <result property="count" column="COUNT"/>
    </resultMap>

    <resultMap id="attachmentResultMap" type="com.gibuhagae.gibuhagae.attachment.dto.AttachmentDTO">
        <id property="fileNo" column="FILE_NO"/>
        <result property="fileName" column="FILE_NAME"/>
        <result property="filePath" column="FILE_PATH"/>
        <result property="fileSave" column="FILE_SAVE"/>
        <result property="fileExt" column="FILE_EXT"/>
        <result property="fileVolume" column="FILE_VOLUME"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="itemCode" column="ITEM_CODE"/>
        <result property="reviewNo" column="REVIEW_NO"/>
        <result property="inquiryNo" column="INQUIRY_NO"/>
        <result property="bannerNo" column="BANNER_NO"/>
        <result property="refundNo" column="REFUND_NO"/>
    </resultMap>




    <select id="selectTotalProductCount" resultType="_int">
        SELECT
               COUNT(*)
        FROM ITEM A
    </select>

    <select id="selectProductList" resultMap="productResultMap">
        SELECT
               A.ITEM_CODE
             , A.ITEM_NAME
             , A.SALE_STATUS
             , A.REGIST_DATE
             , A.CATEGORY_CODE
             , A.TOTAL_COUNT
             , E.REF_CATEGORY_CODE
             , D.OPTION_CODE
             , D.SALE_PRICE
             , F.FILE_PATH
             , F.FILE_TYPE
        FROM (
             SELECT
                    ROWNUM RNUM
                  , B.ITEM_CODE
                  , B.ITEM_NAME
                  , B.SALE_STATUS
                  , B.REGIST_DATE
                  , B.CATEGORY_CODE
                  , B.TOTAL_COUNT
             FROM (
                  SELECT
                         C.ITEM_CODE
                       , C.ITEM_NAME
                       , C.SALE_STATUS
                       , C.REGIST_DATE
                       , C.CATEGORY_CODE
                       , C.TOTAL_COUNT
                  FROM ITEM C
                  )B
             <![CDATA[
                  WHERE ROWNUM <= #{endRow}
             ]]>
                  )A
                  JOIN ITEM_OPTION D ON (A.ITEM_CODE = D.ITEM_CODE)
                  JOIN ITEM_CATEGORY E ON (A.CATEGORY_CODE = E.CATEGORY_CODE)
                  JOIN ATTACHMENT F ON (A.ITEM_CODE = F.ITEM_CODE)
            WHERE A.RNUM >= #{ startRow }
              AND FILE_TYPE = 'thumbnail'
        ORDER BY 1 desc
    </select>


    <select id="selectProductDetail" resultMap="productResultMap">
        SELECT
            A.ITEM_CODE
             , A.ITEM_NAME
             , A.SALE_STATUS
             , A.REGIST_DATE
             , A.CATEGORY_CODE
             , B.SALE_PRICE
             , C.FILE_NO
             , C.FILE_NAME
             , C.FILE_TYPE
             , C.FILE_PATH
        FROM ITEM A
                 JOIN ITEM_OPTION B ON (A.ITEM_CODE = B.ITEM_CODE)
                 JOIN ATTACHMENT C ON (A.ITEM_CODE = C.ITEM_CODE)
        WHERE A.ITEM_CODE = #{ itemCode }
    </select>
</mapper>
