<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="/css/board.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/board.js"></script>
</head>
<body>
<div class="popup-wrap" id="popup1"> <!-- //모달을 감쌀 박스 -->
    <div class="popup"> <!--실질적 모달팝업 -->
        <div class="popup-head">	<!-- 로고 영역 -->
            <span class="head-title">상품 문의하기</span>
        </div>
        <div class="popup-body">	<!--컨텐츠 영역 -->
            <div class="body-content">
                <div class="body-contentbox">
                    <form id="registForm">
                        <table>
                            <tr>
                                <td>제목</td>
                                <td colspan="3">
                                    <select>
                                        <option value="1">상품문의</option>
                                        <option value="2">배송문의</option>
                                        <option value="3">기타문의</option>
                                    </select>
                                    <input type="text" name="title" style="width: 600px;" >
                                </td>
                            </tr>
                            <tr>
                                <td>작성자</td>
                                <td colspan="3"><input type="text" name="writer" style="width: 200px;"></td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td colspan="3">
                                    <textarea name="body" cols="80" rows="15" style="resize: none;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div id="registButton">
                <button id="pop-btn-close" type="button" th:onclick="'location.href=\'/board/notice\''">
                    취소</button>
                <button type="submit" id="pop-btn-confirm">등록하기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>