<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="popup-wrap" id="popup1"> <!-- //모달을 감쌀 박스 -->
    <div class="popup"> <!--실질적 모달팝업 -->
        <div class="popup-head">	<!-- 로고 영역 -->
            <span class="head-title">상품 문의하기</span>
        </div>
        <div class="popup-body">	<!--컨텐츠 영역 -->
            <div class="body-content">
                <div class="body-contentbox">
                    <form id="registForm">
                        <table>
                            <tr>
                                <td>제목</td>
                                <td colspan="3"><input type="text" name="title" placeholder="&nbsp;&nbsp;제목을 입력해주세요." style="width: 600px;" ></td>
                            </tr>
                            <tr>
                                <td>작성자</td>
                                <td colspan="3"><input type="text" name="writer" style="width: 200px;"></td>
                            </tr>
                            <tr>
                                <td>평점</td>
                                <td colspan="3"><input type="text" name="grade" style="width: 70px;">/ 5점</td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td colspan="3">
                                    <textarea name="body" placeholder="&nbsp;&nbsp;내용을 입력해주세요." cols="80" rows="15" style="resize: none;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div id="registButton">
                <button id="pop-btn-close" type="button" th:onclick="'location.href=\'/board/notice\''">
                    취소</button>
                <button type="submit" id="pop-btn-confirm">등록하기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>