<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gibuhagae.gibuhagae.basket.dao.BasketMapper">

    <resultMap id="basketResultMap" type="com.gibuhagae.gibuhagae.basket.dto.BasketDTO">
        <id property="basketNo" column="BASKET_NO"/>
        <result property="count" column="COUNT"/>
        <result property="optionCode" column="OPTION_CODE"/>
        <result property="itemCode" column="ITEM_CODE"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <association property="optionDetailCode" resultMap="productDetailResultMap"/>
        <association property="member" resultMap="memberResultMap"/>
    </resultMap>

    <resultMap id="memberResultMap" type="com.gibuhagae.gibuhagae.member.dto.MemberDTO">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberName" column="MEMBER_NAME"/>
    </resultMap>

    <resultMap id="productDetailResultMap" type="com.gibuhagae.gibuhagae.productDetail.dto.ProductDetailDTO">
        <id property="optionCode" column="OPTION_CODE"/>
        <result property="itemCode" column="ITEM_CODE"/>
        <result property="count" column="COUNT"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="salePrice" column="SALE_PRICE"/>
        <result property="registDate" column="REGIST_DATE"/>
        <result property="imgSrc" column="IMG_SRC"/>
        <association property="productManagementList" resultMap="productManagementResultMap"/>
    </resultMap>

    <resultMap id="productManagementResultMap" type="com.gibuhagae.gibuhagae.productManagement.dto.ProductManagementDTO">
        <id property="itemCode" column="ITEM_CODE"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="saleStatus" column="SALE_STATUS"/>
        <result property="registDate" column="REGIST_DATE"/>
    </resultMap>

    <select id="selectItems" parameterType="hashmap" resultMap="basketResultMap">
        SELECT
               A.BASKET_NO
             , A.COUNT
             , B.OPTION_NAME
             , B.SALE_PRICE
             , B.IMG_SRC
             , C.ITEM_NAME
             , D.MEMBER_NO
             , B.OPTION_CODE
             , D.MEMBER_NAME
             , C.ITEM_CODE
        FROM BASKET A
        LEFT JOIN ITEM_OPTION B ON (A.OPTION_CODE = B.OPTION_CODE)
        JOIN ITEM C ON (B.ITEM_CODE = C.ITEM_CODE)
        JOIN MEMBER D ON (A.MEMBER_NO = D.MEMBER_NO)

        <where>
            <if test="optCode != null">
                B.OPTION_CODE = #{optionCode}
            </if>

            <if test="memberNo != null">
                AND D.MEMBER_NO = 1
            </if>

        </where>

    </select>

    <insert id="addBasket">
        INSERT
          INTO BASKET
        (
          BASKET_NO
        , COUNT
        , MEMBER_NO
        , OPTION_CODE
        , ITEM_CODE
        )
        VALUES
        (
          SEQ_BASKET_NO.NEXTVAL
        , #{count}
        , 1
        , #{optionCode}
        , #{itemCode}
        )
    </insert>

    <select id="checkCart" resultType="boolean">
        SELECT
               COUNT(*)
          FROM BASKET A
         WHERE A.OPTION_CODE = #{optionCode}
           AND A.ITEM_CODE = #{itemCode}
    </select>

    <update id="plusClicked">
        UPDATE
               BASKET A
           SET A.COUNT = A.COUNT + 1
         WHERE A.BASKET_NO = #{basketNo}
    </update>

    <update id="minusClicked">
        UPDATE
            BASKET A
        SET A.COUNT = A.COUNT - 1
        <where>
        <if test="count != 0">
            A.BASKET_NO = #{basketNo}
        </if>
        </where>
    </update>

    <update id="qtyChanged">
        UPDATE
               BASKET A
           SET A.COUNT = #{count}
        <where>
            <if test="count != 0">
                A.BASKET_NO = #{basketNo}
            </if>
        </where>
    </update>

    <delete id="clearCart">
        DELETE
          FROM BASKET A
         WHERE A.MEMBER_NO = 1
    </delete>

    <delete id="selectDel">
        DELETE
          FROM BASKET A
         WHERE A.BASKET_NO = #{basketNo}
    </delete>

    <select id="selectOption" resultMap="productDetailResultMap">
        SELECT
               A.OPTION_CODE
             , B.ITEM_CODE
             , A.COUNT
             , A.OPTION_NAME
             , A.SALE_PRICE
             , B.REGIST_DATE
             , A.IMG_SRC
             , B.ITEM_NAME
          FROM ITEM_OPTION A
          JOIN ITEM B ON (A.ITEM_CODE = B.ITEM_CODE)
         WHERE B.ITEM_CODE = 3
    </select>
</mapper>