<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gibuhagae(productList)</title>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="/css/product.css" rel="stylesheet" type="text/css">
    <link href="/css/navigation.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<!--상품 리스트 페이지 -->
<div class="product" id="product">
    <!-- 헤더(로고, 상단 메뉴)-->
    <div th:replace="/common/board/navigation"></div>
    <!-- 상품 리스트 영역 -->
    <div class="product-content">
        <!-- 상품 리스트 네비게이션 -->
        <div class="product-list-nav">
            <div class="product-list-category">
                간식
                <hr class="title-divider">
            </div>
            <div class="product-list-subcategory">
                <div class="subcategory-name">
                    <a href="123">ALL</a>
                </div>
                <div class="subcategory-name">
                    <a href="123">강아지껌</a>
                </div>
                <div class="subcategory-name">
                    <a href="123">수제간식</a>
                </div>
                <div class="subcategory-name">
                    <a href="123">캔/파우치</a>
                </div>
                <div class="subcategory-name">
                    <a href="123">고양이간식</a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <!-- 상품 리스트 컨테이너 -->
        <div class="product-container">
            <hr class="title-divider1">
            <div class="product-list-top">
                <div class="product-list-title">
                    PRODUCT LIST
                </div>
                <!-- 필터링 구역 -->
                <div class="product-list-filter">
                    <ul>
                        <li class="filter">
                            <a href="123">신상품</a>
                        </li>
                        <a>|</a>
                        <li class="filter">
                            <a href="123">인기순</a>
                        </li>
                        <a>|</a>
                        <li class="filter">
                            <a href="123">낮은가격</a>
                        </li>
                        <a>|</a>
                        <li class="filter">
                            <a href="123">높은가격</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="title-divider2">
            <!-- 상품 리스트 이미지들 -->
            <div class="product-list-wrapper">
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/1.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/2.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/3.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/4.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/5.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/6.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/7.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/8.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/9.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/10.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/11.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/12.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/13.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/14.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/15.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/16.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/17.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/18.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/19.jpg">
                    </a>
                </div>
                <div class="product-list">
                    <a href="123">
                        <img src="/images/main/20.jpg">
                    </a>
                </div>
        </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div id="footer-area">
            <div id="footer-main">
                <div class="footer-logo">
                    <img src="/images/navigation/menu-logo.png">
                </div>
                <div id="footer-icon">
                    <div>
                        <img src="/images/main/instagram.png">
                    </div>
                    <div>
                        <img src="/images/main/kakao.png">
                    </div>
                    <div>
                        <img src="/images/main/facebook.png">
                    </div>
                </div>
            </div>
            <div>
                <div>
                    팀: 그루브 펫 가디언즈
                </div>
                <div>
                    사업자 등록 번호 : 000-00-00000
                </div>
                <div>
                    사업자 정보 확인 통신판매업 : 제 2023-서울종로H-1511호
                </div>
            </div>
            <div>
                <div>
                    사업장소재지 : 서울특별시 종로구 종로2가 탑골공원
                </div>
                <div>
                    대표번호 : 000-000
                </div>
                <div>
                    이메일 : hihello@gmail.com
                </div>
            </div>
            <div>
                <p>(주) 야옹아!기부하개는 통신판매 중개자로서 통신판매의 당사자가 아닙니다. 본 상품은 개별판마재 등록 상품으로 상품정보, 거래에 관한 의무와 책임은 각 판매자에게 있습니다.</p>
            </div>
            <div>
                <div>
                    <img src="/images/main/symbol.png">
                </div>
                <div>
                    2023. 야옹아!기부하개 All rights reserved designed by 야옹아!기부하개
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>