<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/checkout/basket/basket.css" rel="stylesheet" type="text/css">
    <link href="/images/icons8-pug-48.png" rel="icon" type="image/x-icon">
    <!-- <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css"> -->
    <title>basket</title>
    <!--    <script src="/js/checkout/basket/basket.js" type="text/javascript"></script>-->
</head>
<body>
<div id="progress-wrap">
    <div id="progress-cart">
        <div class="cart-wrap">
            <div class="img-wrap" id="cart-img-wrap"><img src="/images/solar-cart-outline.png">
            </div>
            <div><p>장바구니</p></div>
        </div>
        <div class="cart-wrap">
            <img src="/images/line.png">
        </div>
        <div class="cart-wrap">
            <div class="img-wrap"><img src="/images/fluent-payment-24-regular.png">
            </div>
            <div><p>주문/결제</p></div>
        </div>
        <div><img src="/images/line.png"></div>
        <div class="cart-wrap">
            <div class="img-wrap"><img src="/images/group.png">
            </div>
            <div><p>주문 완료</p></div>
        </div>
    </div>
</div>
<section>
    <div id="table-wrap">
        <table id="table">
            <thead>
            <tr id="head">
                <th colspan="2">
                    <h2>장바구니</h2><br>
                </th>
            </tr>
            </thead>

            <tbody id="tbody">
            <tr id="name-bar">
                <td><input id="select-all" name="check-item" type="checkbox"></td>
                <td>
                    <p>이미지</p>
                </td>
                <td colspan="2">
                    <p>상품 정보</p>
                </td>
                <td>
                    <p>옵션</p>
                </td>
                <td>
                    <p>수량</p>
                </td>
                <td>
                    <p>상품금액</p>
                </td>
                <td>
                    <p>할인금액</p>
                </td>
                <td>
                    <p>배송비</p>
                </td>
                <td></td>
            </tr>
            <tbody class="cart-items">
        <form action="/basket/items" method="post" >
                <tr class="cart-detail" th:each="cart : ${basket}">
                    <td>
                        <input class="item-checkbox" name="check-item" type="checkbox">
                    </td>
                    <td>
                        <img class="cart-item-img" th:src="${cart.optionDetailCode.productManagementList.attachmentList.^[fileType == 'thumbnail'].filePath}">
                    </td>
                    <td class="cart-item-title" colspan="2"
                        th:text="${cart.optionDetailCode.productManagementList.itemName}"></td>
                    <input type="hidden" id="itemCode" th:value="${cart.itemCode}" name="itemCode" />
                    <td>
                        <div class="cart-item-option" th:text="${cart.optionDetailCode.optionName}"></div>
                        <input type="hidden" id="optionCode" th:value="${cart.optionCode}" name="optionCode">
                    </td>
                    <td>
                        <div class="cart-quantity-wrap">
                            <input id="cart-quantity-input" th:value="${cart.count}" name="count" type="number"
                                   onchange="quantityChanged(event)">
                            <div class="btn-wrap">
                                <div class="plus-btn" onclick="plusClicked(event)">+
                                    <input type="hidden" th:value="${cart.basketNo}" id="plusBtn">
                                </div>
                                <div name class="minus-btn" onclick="minusClicked(event)"  >-
                                    <input type="hidden" th:value="${cart.basketNo}" id="minusBtn">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="cart-price" th:text="${cart.optionDetailCode.salePrice}">
                        </div>
                    </td>
                    <td>
                        <div class="cart-dicount-price">-</div>
                    </td>
                    <td>
                        <div class="hasShippingPrice"></div>
                    </td>
                    <td>
                        <div id="removeBtnArea">
                            <div class="remove-btn" type="button" onclick="selectDel(event)">삭제
                                <input type="hidden" id="removeBtn" th:value="${cart.basketNo}">
                            </div>
                        </div>
                    </td>
                </tr>
        </form>
            </tbody>
        </table>
        <div id="total-price">
            <div id="price-area">
                <span>상품구매금액</span>
                <span class="cart-item-price"></span>
                <span> </span>
                <span id="plus">
                        <img src="/images/plus-symbol-button.png">
                        <span class="sr-only">더하기</span>
                    </span>
                <span>배송비</span>
                <span class="total-shipping-price1"></span>
                <span id="equal">
                        <img src="/images/equal-mathematical-sign.png">
                        <span class="sr-only">는</span>
                    </span>
                <span id="cart-total-price"></span>
            </div>
        </div>
    </div>
    <div id="clear-wrapper">
        <div id="clear-area">
            <div id="clear-button" onclick="clearCart()">
                <input type="hidden" id="clearCart" th:value="${memberNo}">
                <img src="/images/clearcart.png">
                <p class="message" id="throw">장바구니비우기</p>
            </div>
        </div>
    </div>
    <div id="order-text">
        <div id="order-area">
            <div>
                <img src="/images/formkit-won.jpg">
            </div>
            <div>
                <p class="text-message">총 상품금액</p>
            </div>
            <div>
                <p class="text-message">|</p>
            </div>
            <div>
                <p class="text-message">총 배송비</p>
            </div>
            <div>
                <p class="text-message">|</p>
            </div>
            <div>
                <p class="text-message">결제예정금액</p>
            </div>
        </div>
    </div>
    <div id="order-amount">
        <div id="amount-area">
            <div id="amount-area-left">
                <div id="cart-item-price">
                </div>
                <div>
                    원
                </div>
                <div>
                    <img src="/images/plus-symbol-button.png">
                </div>
                <div class="total-shipping-price2">
                </div>
                <div>
                    원
                </div>
                <div>
                    <img src="/images/equal-mathematical-sign.png">
                </div>
                <div class="cart-total-price">
                </div>
                <div>
                    원
                </div>
            </div>
            <div id="amount-area-right">
                <div id="second-child">
                    <img src="/images/orderbyselect.png">
                    <button class="purchase-btn" type="button" onclick="purchasBtn()">
                        구매하기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="condition-cart">
        <div id="condition-cart-left">
            <div id="cart-img-area">
                <img src="/images/whitecart.png">
            </div>
        </div>
        <div id="condition-cart-right">
            <div>
                <div>
                    <img src="/images/material-symbols-info-outline.png">
                </div>
                <div>
                    장바구니 이용안내
                </div>
            </div>
            <div>
                1. lorem ipsum
            </div>
            <div>
                2. lorem ipsum
            </div>
            <div>
                3. lorem ipsum
            </div>
            <div>
                4. lorem ipsum
            </div>
        </div>
    </div>
    <!-- footer-->
    <footer>
        <div th:replace="/common/footer"></div>
    </footer>

</section>
<script>
    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', ready)
    } else {
        ready();
    }

    function ready() {

        initializeCheckbox();

        handleCheckboxEvents();

        // updatePrice();

        updateCartTotal();
    }

    function initializeCheckbox() {
        let seletAll = document.getElementById('select-all');
        let eachBox = document.getElementsByClassName('item-checkbox');
        seletAll.checked = true;
        for (let i = 0; i < eachBox.length; i++) {

            eachBox[i].checked = true;
        }
    }

    function handleCheckboxEvents() {
        let seletAll = document.getElementById('select-all');
        let eachBox = document.getElementsByClassName('item-checkbox');

        seletAll.addEventListener('click', () => {

            for (let i = 0; i < eachBox.length; i++) {
                eachBox[i].checked = seletAll.checked;
            }
            updateCartTotal();
        });

        for (let i = 0; i < eachBox.length; i++) {
            eachBox[i].addEventListener('click', () => {

                count = 0;

                for (let i = 0; i < eachBox.length; i++) {
                    if (eachBox[i].checked == true) {
                        count++;
                    }
                }

                if (eachBox.length == count) {
                    seletAll.checked = true;
                } else {
                    seletAll.checked = false;
                }
                updateCartTotal();
            });
        }
    }

    // 수량 증가 버튼 클릭 시 실행될 함수
    function plusClicked(event) {
        let button = event.target;
        let plusBtn = button.parentElement.querySelector('#plusBtn').value;
        // let optionCode = button.parentElement.querySelector('#optionCode').value;

        console.log(plusBtn);
        // console.log(optionCode);}&optionCode=${optionCode}
        fetch(`/quantity/plus?basketNo=${plusBtn}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=UTF-8'
            },
            body: JSON.stringify({
                "basketNo": plusBtn
                // "itemCode": itemCode,
                // "optionCode": optionCode
            })
        })
            .then(result => result.text())
            .then(result => {
                updateCartTotal(result);
                location.reload();
            })
            .catch(error => {
                console.log(error);
            });
    }

    function minusClicked(event) {
        let button = event.target;
        let minusBtn = button.parentElement.querySelector('#minusBtn').value;
        let quantityInput = button.parentElement.parentElement.querySelector('#cart-quantity-input');
        let quantity = parseInt(quantityInput.value);
        if (quantity > 1) {
            console.log(minusBtn);

            fetch(`/quantity/minus?basketNo=${minusBtn}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8'
                },
                body: JSON.stringify({
                    "basketNo": minusBtn

                })
            })
                .then(result => result.text())
                .then(result => {
                    updateCartTotal(result);
                    location.reload();
                })
                .catch(error => {
                    console.log(error);
                });
        } else {
            quantityInput.value = 1;
        }


    }

    // function quantityChanged(event) {
    //     let button = event.target;
    //     let qtyChanged = button.parentElement.parentElement.querySelector('#cart-quantity-input');
    //     console.log(qtyChanged);
    //     let quantity = parseInt(qtyChanged.value);
    //     if (quantity > 1) {
    //
    //         fetch(`/quantity/changed`, {
    //             method: 'POST',
    //             headers: {
    //                 'Content-Type': 'application/json; charset=UTF-8'
    //             },
    //             body: JSON.stringify({
    //                 "basketNo": qtyChanged,
    //                 "count": quantity
    //             })
    //         })
    //             .then(result => result.text())
    //             .then(result => {
    //
    //                 updatePrice(result);
    //                 location.reload();
    //             })
    //             .catch(error => {
    //                 console.log(error);
    //             });
    //     } else {
    //         qtyChanged.value = 1;
    //     }
    // }

    function selectDel(event) {
        let button = event.target;
        let selectBtn = button.parentElement.querySelector('#removeBtn').value;

        console.log(selectBtn);

        fetch(`/select/button?basketNo=${selectBtn}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=UTF-8'
            },
            body: JSON.stringify({
                "basketNo": selectBtn
            })
        })
            .then(result => result.text())
            .then(result => {

                updateCartTotal(result);
                location.reload();
            })
            .catch(error => {
                console.log(error);
            });
    }

    function clearCart() {

        let memberNo = document.getElementById("clearCart").value;

        console.log(memberNo);

        fetch(`/clear/cart?memberNo=${memberNo}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json; charset=UTF-8'
            },
            body: JSON.stringify({
                "memberNo": memberNo
            })
        })
            .then(result => result.text())
            .then(result => {

                updateCartTotal(result);
                location.reload();
            })
            .catch(error => {
                console.log(error);
            });
    }

    // 장바구니 총 가격을 업데이트하는 함수
    function updateCartTotal() {

        let cartRows = document.getElementsByClassName("cart-detail");
        itemsPrice = 0;
        shippingPrice = 0;

        for (let i = 0; i < cartRows.length; i++) {

            let cartRow = cartRows[i];
            let checkbox = cartRow.querySelector(".item-checkbox");
            let count = parseInt(cartRow.querySelector("#cart-quantity-input").value);
            let price = parseInt(cartRow.querySelector("#cart-price").innerText);

            if (checkbox.checked) {

                itemsPrice += price * count;

                if (itemsPrice < 50000) {

                    shippingPrice = 3000;

                } else if (itemsPrice >= 50000) {
                    shippingPrice = 0;
                }
            }
        }
        let totalPrice = itemsPrice + shippingPrice;
        let originItemsPrice = itemsPrice.toLocaleString();
        let originTotalPrice = totalPrice.toLocaleString();


        document.querySelector('.cart-item-price').innerText = originItemsPrice;
        document.querySelector('#cart-item-price').innerText = originItemsPrice;
        document.querySelector("#cart-total-price").innerText = originTotalPrice + "원";
        document.querySelector(".cart-total-price").innerText = originTotalPrice;
        document.querySelector(".total-shipping-price1").innerText = shippingPrice;
        document.querySelector(".total-shipping-price2").innerText = shippingPrice;
    }



        function purchasBtn() {

            const cartRows = document.getElementsByClassName("cart-detail");
            const basketItems = [];
            console.log(cartRows)
            for (let i = 0; i < cartRows.length; i++) {

                let cartRow = cartRows[i];
                let checkbox = cartRow.querySelector(".item-checkbox");

                if (checkbox.checked) {
                    const $itemCode = parseInt(cartRow.querySelector("#itemCode").value);
                    const $optionCode = parseInt(cartRow.querySelector("#optionCode").value);
                    const $count = parseInt(cartRow.querySelector("#cart-quantity-input").value);
                    const $itemName = cartRow.querySelector(".cart-item-title").textContent;
                    const $optionName = cartRow.querySelector(".cart-item-option").textContent;
                    const $price = cartRow.querySelector("#cart-price").textContent;
                    const $imgSrc = cartRow.querySelector(".cart-item-img").src;
                    console.log($count);

                    const basketItem = {
                        itemCode: $itemCode,
                        optionCode: $optionCode,
                        count: $count,
                        itemName: $itemName,
                        optionName: $optionName,
                        price: $price,
                        imgSrc: $imgSrc
                    }

                    basketItems.push(basketItem); // 배열에 장바구니 아이템 추가
                }

            }

            console.log(basketItems);
            // 폼 엘리먼트를 동적으로 생성
            let newForm = document.createElement('form');
            newForm.name = "basketItems";
            newForm.method = 'post';
            newForm.action = '/basket/items';
            newForm.encoding = 'UTF-8';

            for (let i = 0; i < basketItems.length; i++) {
                let basketItem = basketItems[i];

                let itemCodeInput = document.createElement('input');
                itemCodeInput.setAttribute("type", "hidden");
                itemCodeInput.setAttribute("name", "basketItems[" + i + "].itemCode");
                itemCodeInput.setAttribute("value", basketItem.itemCode);

                let optionCodeInput = document.createElement('input');
                optionCodeInput.setAttribute("type", "hidden");
                optionCodeInput.setAttribute("name", "basketItems[" + i + "].optionCode");
                optionCodeInput.setAttribute("value", basketItem.optionCode);

                let countInput = document.createElement('input');
                countInput.setAttribute("type", "hidden");
                countInput.setAttribute("name", "basketItems[" + i + "].count");
                countInput.setAttribute("value", basketItem.count);

                let itemNameInput = document.createElement('input');
                itemNameInput.setAttribute("type", "hidden");
                itemNameInput.setAttribute("name", "basketItems[" + i + "].itemName");
                itemNameInput.setAttribute("value", basketItem.itemName);

                let optionNameInput = document.createElement('input');
                optionNameInput.setAttribute("type", "hidden");
                optionNameInput.setAttribute("name", "basketItems[" + i + "].optionName");
                optionNameInput.setAttribute("value", basketItem.optionName);

                let priceInput = document.createElement('input');
                priceInput.setAttribute("type", "hidden");
                priceInput.setAttribute("name", "basketItems[" + i + "].price");
                priceInput.setAttribute("value", basketItem.price);

                let imgSrcInput = document.createElement('input');
                imgSrcInput.setAttribute("type", "hidden");
                imgSrcInput.setAttribute("name", "basketItems[" + i + "].imgSrc");
                imgSrcInput.setAttribute("value", basketItem.imgSrc);

                newForm.appendChild(itemCodeInput);
                newForm.appendChild(optionCodeInput);
                newForm.appendChild(countInput);
                newForm.appendChild(itemNameInput);
                newForm.appendChild(optionNameInput);
                newForm.appendChild(priceInput);
                newForm.appendChild(imgSrcInput);
            }

            // 폼을 문서의 body에 추가
            document.body.appendChild(newForm);

            alert("주문페이지로 이동");
            // 폼 제출
            newForm.submit();
            // fetch("/basket/items", {
            //         method: 'POST',
            //         headers: {
            //             'Content-Type': 'application/json; charset=UTF-8'
            //         },
            //         body: JSON.stringify(basketItems)
            //     })
            //         .then(res => res.text())
            //         .then(res => {
            //             alert(res);
            //             location.href="/payment";
            //         }
            //         )
            //         .catch(error => {
            //             console.log(error);
            //         });
        }
</script>
</body>
</html>