<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="/basket/regist" method="post">-->
<!--    <div class="cart-detail" th:each="productDetail : ${productDetail}">-->
<!--    <div><input class="item-checkbox" type="checkbox" name="check-item"></div>-->
<!--                             <div>-->
<!--                             <img class="cart-item-img" th:src="${productDetail.imgSrc}">-->

<!--                             </div>-->
<!--                             <div class="cart-item-title" colspan="2" th:text="${productDetail.productManagementList.itemName}"></div>-->
<!--                                <input id="itemCode" type="hidden" name="optionDetailCode.productManagementList.itemCode" th:value="${productDetail.productManagementList.itemCode}">-->
<!--                             <div>-->
<!--                                 <div class="cart-item-option" th:text="${productDetail.optionName}"></div>-->
<!--                                 <input id="optionCode" type="hidden" name="optionDetailCode.optionCode" th:value="${productDetail.optionCode}">-->
<!--                             </div>-->
<!--                             <div>-->
<!--                                 <div class="cart-quantity-wrap">-->
<!--                                     <input id="count" name="optionDetailCode.count" class="cart-quantity-input" type="number" th:value="${productDetail.count}">-->

<!--                                     <div class="btn-wrap">-->
<!--                                         <button type="button" class="plus-btn">+</button>-->
<!--                                         <button type="button" class="minus-btn">-</button>-->
<!--                                     </div>-->
<!--                                 </div>-->
<!--                             </div>-->
<!--                             <div>-->
<!--                                 <div class="cart-price" th:text="${productDetail.salePrice}"></div>-->
<!--                             </div>-->
<!--                             <div>-->
<!--                                 <div class="cart-dicount-price">-</div>-->
<!--                             </div>-->
<!--                             <div>-->
<!--                                 <div class="shipping-price">-</div>-->
<!--                             </div>-->
<!--                             <div>-->
<!--                                 <div><button class="remove-btn" type="button">삭제</button></div>-->
<!--                             </div>-->

<!--            <button type="button" class="tocart" onclick="addBasket()">장바구니추가</button>-->
<!--    </div>-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->

<!--&lt;!&ndash;    const $tocart = document.getElementsByClassName('tocart');&ndash;&gt;-->
<!--&lt;!&ndash;    const $cartImg = document.getElementsByClassName('cart-item-img');&ndash;&gt;-->
<!--&lt;!&ndash;    const $cartItemTitle = document.getElementsByClassName('cart-item-title');&ndash;&gt;-->
<!--&lt;!&ndash;    const $itemCode = document.getElementById('itemCode').value;&ndash;&gt;-->
<!--&lt;!&ndash;    const $optionCode = document.getElementById('optionCode').value;&ndash;&gt;-->
<!--&lt;!&ndash;    const $optionName = document.getElementsByClassName('cart-item-option');&ndash;&gt;-->
<!--&lt;!&ndash;    const $count = document.getElementById('count').value;&ndash;&gt;-->
<!--&lt;!&ndash;    const $price = document.getElementsByClassName('cart-price');&ndash;&gt;-->

<!--&lt;!&ndash;    function addBasket() {&ndash;&gt;-->
<!--&lt;!&ndash;        const basket = {&ndash;&gt;-->
<!--&lt;!&ndash;            "itemImg": $cartImg,&ndash;&gt;-->
<!--&lt;!&ndash;            // "itemName": $cartItemTitle,&ndash;&gt;-->
<!--&lt;!&ndash;            itemCode: $itemCode,&ndash;&gt;-->
<!--&lt;!&ndash;            // "optionName": $optionName,&ndash;&gt;-->
<!--&lt;!&ndash;            optionCode: $optionCode,&ndash;&gt;-->
<!--&lt;!&ndash;            count: $count&ndash;&gt;-->
<!--&lt;!&ndash;            // "price": $price&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;        fetch("/basket/regist", {&ndash;&gt;-->
<!--&lt;!&ndash;            method: 'POST',&ndash;&gt;-->
<!--&lt;!&ndash;            headers: {&ndash;&gt;-->
<!--&lt;!&ndash;                'Content-Type': 'application/json; charset=UTF-8'&ndash;&gt;-->
<!--&lt;!&ndash;            },&ndash;&gt;-->
<!--&lt;!&ndash;            body: JSON.stringify(basket)&ndash;&gt;-->
<!--&lt;!&ndash;        })&ndash;&gt;-->
<!--&lt;!&ndash;            .then(result => result.text())&ndash;&gt;-->
<!--&lt;!&ndash;            .then(result => {&ndash;&gt;-->
<!--&lt;!&ndash;                alert(result);&ndash;&gt;-->
<!--&lt;!&ndash;                if (result === "실패") {&ndash;&gt;-->
<!--&lt;!&ndash;                    alert("장바구니에 이미 있습니다.");&ndash;&gt;-->
<!--&lt;!&ndash;                } else if (result === "성공"){&ndash;&gt;-->
<!--&lt;!&ndash;                    console.log(basket);&ndash;&gt;-->
<!--&lt;!&ndash;                    alert("장바구니에 담았습니다.")&ndash;&gt;-->

<!--&lt;!&ndash;                }&ndash;&gt;-->
<!--&lt;!&ndash;                location.reload();&ndash;&gt;-->
<!--&lt;!&ndash;            })&ndash;&gt;-->
<!--&lt;!&ndash;            .catch(error => {&ndash;&gt;-->
<!--&lt;!&ndash;                console.log(error);&ndash;&gt;-->
<!--&lt;!&ndash;            });&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->

<!--&lt;!&ndash;    // let plusBtn = document.getElementsByClassName('plus-btn');&ndash;&gt;-->
<!--&lt;!&ndash;    // let minusBtn = document.getElementsByClassName('minus-btn');&ndash;&gt;-->
<!--&lt;!&ndash;    //&ndash;&gt;-->
<!--&lt;!&ndash;    // plusBtn.addEventListener('click' , () => {&ndash;&gt;-->
<!--&lt;!&ndash;    //     let quantityUp = document.getElementsByClassName('cart-quantity-input');&ndash;&gt;-->
<!--&lt;!&ndash;    //     quantityUp.value = parseInt(quantityInput.value) + 1;&ndash;&gt;-->
<!--&lt;!&ndash;    //&ndash;&gt;-->
<!--&lt;!&ndash;    // });&ndash;&gt;-->
<!--&lt;!&ndash;    //&ndash;&gt;-->
<!--&lt;!&ndash;    // minusBtn.addEventListener('click', () => {&ndash;&gt;-->
<!--&lt;!&ndash;    //     let quantityDown = document.getElementsByClassName('cart-quantity-input');&ndash;&gt;-->
<!--&lt;!&ndash;    //     let currentValue = parseInt(quantityDown.value);&ndash;&gt;-->
<!--&lt;!&ndash;    //     if (currentValue > 1) {&ndash;&gt;-->
<!--&lt;!&ndash;    //         quantityInput.value = currentValue - 1;&ndash;&gt;-->
<!--&lt;!&ndash;    //     }&ndash;&gt;-->
<!--&lt;!&ndash;    // });&ndash;&gt;-->


<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->