#sendBtn {
    margin-left: 30px;
    margin-right: 30px;
}

#readyBtn {
    margin-right: 435px;
}

#cancelBtn {
    margin-right: 30px;
}

#returnBtn {
    margin-right: 30px
}

.order-container {
    max-height: 680px;
    overflow: auto;
}





