<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gibuhagae(notice)</title>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="/css/board.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="/css/navigation.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="qna" id="board">
    <!-- 헤더(로고, 상단 메뉴)-->
    <div th:replace="/common/board/navigation"></div>
    <!-- 게시판 내용 리스트 영역 -->
    <div class="board-content">
        <div class="board-title">
            Q&A<br>
            <hr class="title-divider">
        </div>
        <div class="board-container">
            <select id="select1">
                <option value="selected" selected>답변상태</option>
                <option value="Y">완료</option>
                <option value="N">대기중</option>
            </select>
            <br>
            <div class="board-body">
                <div class="board-tab">
                    <button type="button" class="board-btn" th:onclick="|location.href='/board/notice'|">NOTICE
                    </button>
                    <button type="button" class="board-btn" th:onclick="|location.href='/board/qna'|">Q&A</button>
                    <button type="button" class="board-btn" th:onclick="|location.href='/board/review'|">REVIEW
                    </button>
                </div>
                <!-- 공지 리스트 테이블 -->
                    <table class="board-table">
                        <thead>
                        <tr>
                            <th class="th1"></th>
                            <th class="th2">NO</th>
                            <th class="th7">문의유형</th>
                            <th class="th3">제목</th>
                            <th class="th4">작성자</th>
                            <th class="th5">작성일</th>
                            <th class="th6">답변상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="checkbox" name="notice-checkbox"></td>
                            <td>1</td>
                            <td>상품문의</td>
                            <td>첫번째글첫번째글첫번째글첫번째글첫번째글첫번째글첫번째글</td>
                            <td>남궁혁</td>
                            <td>2023-10-01</td>
                            <td>완료</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="notice-checkbox"></td>
                            <td>2</td>
                            <td>상품문의</td>
                            <td>두번째글</td>
                            <td>이하현</td>
                            <td>2023-10-01</td>
                            <td>완료</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="notice-checkbox"></td>
                            <td>3</td>
                            <td>배송문의</td>
                            <td>세번째글</td>
                            <td>이은진</td>
                            <td>2023-10-01</td>
                            <td>완료</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="notice-checkbox"></td>
                            <td>4</td>
                            <td>상품문의</td>
                            <td>네번째글</td>
                            <td>박준홍</td>
                            <td>2023-10-01</td>
                            <td>완료</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="notice-checkbox"></td>
                            <td>5</td>
                            <td>배송문의</td>
                            <td>다섯번째글</td>
                            <td>박우석</td>
                            <td>2023-10-01</td>
                            <td>완료</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 페이지 네비게이션 -->
                <nav class="board-page-nav">
                    <table>
                        <td>이전</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>다음</td>
                    </table>
                </nav>
                <div class="board-button">
                    <button type="button" class="delete">삭제</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>