<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <!-- 외부 스타일 시트 -->
    <link href="/css/join/joinStyle.css" rel="stylesheet" type="text/css">
    <!-- 리셋 CSS : 브라우저별로 디폴트로 적용 된 CSS(여백, 폰트 등)에 차이가 있으므로
   브라우저별로 다르게 보일 수 있어 리셋 CSS를 활용한다. -->
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="headerBanner">
        야옹아 기부하게
    </header>

    <nav class="itemCategory">
        <a id="snack" href="snack.html"> 간식 </a>
        <a id="petFood" href="petFood.html"> 사료 </a>
        <a id="beautyProduct" href="beautyProduct.html"> 미용용품 </a>
        <a id="fashionProduct" href="fashionProduct.html"> 패션용품 </a>
        <a id="cleanProduct" href="cleanProduct.html"> 위생용품 </a>
        <a id="toyAndTrainingProduct" href="toyAndTrainingProduct.html"> 장난감/훈련용품 </a>
        <a id="notice" href="notice.html"> 공지사항 </a>
    </nav>

    <section class="joinArea">

        <p class="joinTitle">구분</p>

        <form class="joinForm" action="/join/Join" method="post">

            <hr class="joinHr" id="joinHr1">

            <div class="idArea">
                <label class="joinInput">아이디</label>
                <img src="/images/asterisk.png" alt="test" width="10" height="10">
                <input class="inputBG" id="inputId" type="text" name="userId" value="  ID" style="color: rgb(185, 190, 201)">
                <span id="idSpan">아이디를 입력해 주세요. (영문소문자/숫자, 4~16자)</span>
            </div>

            <hr class="joinHr">

            <div class="pwdArea">
                <label class="joinInput">비밀번호</label>
                <img src="/images/asterisk.png" alt="test" width="10" height="10">
                <input class="inputBG" id="inputPwd" type="password" name="password" value="">
                <span id="pwdSpan">(영문 대소문자/숫자/특수 문자 중 세 가지 이상 8자~16자)</span>
            </div>

            <hr class="joinHr">

            <div class="pwdChkArea">
                <label class="joinInput">비밀번호 확인</label>
                <img src="/images/asterisk.png" alt="test" width="10" height="10">
                <input class="inputBG" type="password" name="passwordCheck">
            </div>

            <hr class="joinHr">

            <div class="nameArea">
                <label class="joinInput">이름</label>
                <img src="/images/asterisk.png" alt="test" width="10" height="10">
                <input class="inputBG" id="inputName" type="text" name="memberName" value="  홍길동"
                    style="color: rgb(185, 190, 201)">
            </div>

            <hr class="joinHr">

            <div class="phoneArea">
                <label class="joinInput">휴대전화</label>
                <img src="/images/asterisk.png" alt="test" width="10" height="10">
                <select class="inputBG2" id="inputPhone1" name="memberPhone" style="color: rgb(185, 190, 201)">
                    <option value="010" selected>010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                </select>

                <input class="inputBG2" id="inputPhone2" type="text">
                <input class="inputBG2" id="inputPhone3" type="text">
            </div>

            <hr class="joinHr">

            <div class="addrArea">
            <label class="joinInput">주소</label>
            <img src="/images/asterisk.png" alt="test" width="10" height="10">
            <input class="inputBG3" id="inputPost" type="text" name="zipcode" value="  우편번호"
                style="color: rgb(185, 190, 201)">
            <button id="inputPostBtn" onclick="location.href='cancel.html'">주소검색</button>
            <br>
            <input class="inputBG" id="inputBasicAddr" type="text" name="address" value="  기본주소"
                style="color: rgb(185, 190, 201)">
            <br>
            <input class="inputBG" id="inputRAddr" type="text" name="rAddress" value="  나머지 주소(선택 입력 가능)"
                style="color: rgb(185, 190, 201)">
            </div>

            <hr class="joinHr">

            <div class="emailArea">
            <label class="joinInput">이메일</label>
            <img src="/images/asterisk.png" alt="test" width="10" height="10">
            <input class="inputBG" id="inputEmail" type="text" name="email" value="  songbyhyeok@gmail.com"
                style="color: rgb(185, 190, 201)">
            </div>
            
            <hr class="joinHr">

            <div class="joinFunBtns">
                <button id="joinBtn">회원가입</button>
                <button id="cancelBtn">취소</button>
            </div>

        </form>

    </section>

</body>

</html>