<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gibuhagae(main)</title>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="/css/main/main.css" rel="stylesheet" type="text/css">
    <link href="/css/product/product.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/button.js"></script>
    <script type="text/javascript" src="/js/event.js"></script>

    <script>
        const message = '[[${message}]]';
        message && alert(message);
    </script>

</head>
<!--H MARK H-->
<body>
<!-- 메인페이지 -->
<div id="main" class="main">
    <!-- 헤더(로고, 상단 메뉴)-->
    <div class="main-header">
        <!-- 헤더 상단 로고 및 메뉴  -->
        <div class="main-header-top">
            <div class="header-top-content">

                <th:block sec:authorize="isAnonymous()">
                    <div class="admin-page-none">
                        <!-- 유저 로그인시 보일 관리자 버튼 -->
                        <a style="background-color: #f0f0f0"></a>
                    </div>
                </th:block>

                <th:block sec:authorize="hasRole('user')">
                    <div class="admin-page-none">
                        <!-- 유저 로그인시 보일 관리자 버튼 -->
                        <a style="background-color: #f0f0f0"></a>
                    </div>
                </th:block>

                <th:block sec:authorize="hasRole('admin')">
                    <div class="admin-page">
                        <!-- 관리자 로그인시 보일 관리자 버튼 -->
                        <a href="order/order-new">관리자 페이지</a>
                    </div>
                </th:block>

                <!-- 상단 네비 -->
                <ul class="navigation">
                    <!--                    <li><a href="11">로그인</a></li>-->
                    <!--                    <li><a href="11">/&nbsp;&nbsp;&nbsp;&nbsp;회원가입</a></li>-->
                    <th:block sec:authorize="isAnonymous()">
                        <li><button type="button" id="indexLogBtn">로그인</button></li>
                        <span>/&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <li><button onclick="location.href='/join/Join'">회원가입</button></li>
                    </th:block>

                    <th:block sec:authorize="hasRole('user')">
                        <div class="admin-page">
                            <!-- 유저 로그인시 보일 관리자 버튼 -->
                            <li><a></a></li>
                        </div>
                    </th:block>

                    <th:block sec:authorize="hasRole('admin')">
                        <div class="admin-page-none">
                            <!-- 관리자 로그인시 보일 관리자 버튼 -->
                            <li><a></a></li>
                        </div>
                    </th:block>

                    <!--                    <li><a href="11">마이샵</a></li>-->
                    <li><button type="button" id="indexMyPageBtn">마이샵</button></li>

                    <th:block sec:authorize="isAuthenticated()">
                        <li><button type="button" id="logout">로그아웃</button></li>
                        <li><a href="/board/notice">게시판관리</a></li>
                    </th:block>

                    <!------------------------관리자 로그인 시 게시판 관리 보일 예정 평소에 없음 --------------------------->

                </ul>
            </div>
        </div>
        <!-- 헤더 중간 메인 로고 -->
        <div class="main-header-mid">
            <div class="header-mid-content">
                <a href="">


                <img class="main-logo-img" src="/images/main/로고1.png">

                </a>
            </div>
        </div>
        <!-- 카테고리 메뉴 -->
        <div class="category-nav-content" id="category">
            <ul class="category-nav">
                <li><a href="22">반려동물</a>
                    <ul>
                        <li><a href="33">반려견</a></li>
                        <li><a href="33">반려묘</a></li>
                    </ul>
                </li>
                <li><a href="/product/productList">간식</a>
                    <ul>
                        <li><a href="33">강아지껌</a></li>
                        <li><a href="33">수제간식</a></li>
                        <li><a href="33">캔/파우치</a></li>
                        <li><a href="33">고양이간식</a></li>
                    </ul>
                </li>
                <li><a href="22">사료</a>
                    <ul>
                        <li><a href="33">퍼피(1세 미만)</a></li>
                        <li><a href="33">어덜트(1~7세)</a></li>
                        <li><a href="33">시니어(7세 이상)</a></li>
                    </ul>
                </li>
                <li><a href="22">미용용품</a>
                    <ul>
                        <li><a href="33">드라이기/발톱관리용품</a></li>
                        <li><a href="33">샴푸/린스</a></li>
                    </ul>
                </li>
                <li><a href="22">패션용품</a>
                    <ul>
                        <li><a href="33">일반의류</a></li>
                        <li><a href="33">코스튬</a></li>
                    </ul>
                </li>
                <li><a href="22">위생용품</a>
                    <ul>
                        <li><a href="33">기저귀/배변용품</a></li>
                        <li><a href="33">눈/귀 위생용품</a></li>
                        <li><a href="33">넥카라</a></li>
                        <li><a href="33">고양이 화장실/모래</a></li>
                    </ul>
                </li>
                <li><a href="22">장난감/훈련용품</a>
                    <ul>
                        <li><a href="33">강아지 장난감</a></li>
                        <li><a href="33">고양이 장난감</a></li>
                        <li><a href="33">캣타워</a></li>
                        <li><a href="33">훈련용품</a></li>
                    </ul>
                </li>
                <li><a href="/board/notice">공지사항</a></li>
            </ul>
        </div>
    </div>
    <!-- 메인페이지에 출력되는 기타 리스트들 -->
    <div class="main-list">
        <!-- 배너 -->
        <div class="main-banner" id="banner">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <a href="https://lovejuo.imweb.me/">

                    <img src="/images/main/banner1.png">

                    </a>
                </div>

                <div class="mySlides fade">
                    <img src="/images/main/banner2.png">
                </div>

                <div class="mySlides fade">
                    <img src="/images/main/배너3.jpg">
                </div>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <br>
        <!-- 메인 베스트 아이템 영역 -->
        <div class="main-best-product" id="mainBestProduct">
            <br>
            <!-- 타이틀 -->
            <div class="best-product-title">
                | BEST ITEM |
            </div>
            <!--슬라이드에 들어갈 콘텐츠 -->
            <div class="best-product-content" >
                <div class="slider-container">
                    <!-- 슬라이드 사진 -->
                    <div class="slider-wrapper">
                        <div class="slider-item">
                            <a href="#">
                                <img src="/images/product/pd1.jpg" alt="Image 1">
                            </a>
                        </div>
                        <div class="slider-item">
                            <a href="#">
                                <img src="/images/product/pd3.jpg" alt="Image 2">
                            </a>
                        </div>
                        <div class="slider-item">
                            <a href="#">
                                <img src="/images/product/pd6.jpg" alt="Image 3">
                            </a>
                        </div>
                        <div class="slider-item">
                            <a href="#">
                                <img src="/images/product/pd5.jpg" alt="Image 4">
                            </a>
                        </div>
                        <div class="slider-item">
                            <a href="#">
                                <img src="/images/product/pd4.jpg" alt="Image 5">
                            </a>
                        </div>
                        <div class="slider-item">
                            <a href="#">
                                <img src="/images/product/pd2.jpg" alt="Image 6">
                            </a>
                        </div>
                    </div>
                    <!-- 슬라이드 이동 버튼 -->
                    <button class="prev-btn" onclick="prevSlide()">&lsaquo;</button>
                    <button class="next-btn" onclick="nextSlide()">&rsaquo;</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- 메인 신상품 영역-->
    <div class="main-new-product">
        <br>
        <br>
        <div class="new-product-title">
            | New Arrival |
        </div>
        <div class="new-product-container">
            <div class="new-product-wrapper">
                <th:block th:each="item : ${itemList}">
                <div class="new-product">
                    <a th:onclick="|location.href='/product/productDetail?no=${ item.itemCode }'|" style="cursor: pointer;">
                        <img th:src="${ item.attachmentList[0].filePath }">
                        <div class="list-info-wrapper">
                            <span class="pd-title"
                                  style="font-size: 18px; padding-bottom: 5px; border-bottom: rgba(108,106,106,0.3) 1px solid"
                                  th:text="${ item.itemName }"></span>
                            <div class="pd-price" style="padding-top: 5px;">
                                <span class="price" th:text="'￦ ' + ${#numbers.formatDecimal(item.salePrice, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                        </div>
                    </a>
                </div>
                </th:block>
            </div>
        </div>
    </div>

        <div class="PageMoveButton" id="pageMoveButton">
            <a class="up-logo">▲</a>
        </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {

            const topBtn = document.querySelector(".up-logo");
            topBtn.onclick = () => {
                window.scrollTo({ top: 0, behavior: "auto" });
            };
        });
    </script>
    <br>
    <br>
    <br>
    <!-- footer-->
    <footer>
        <div th:replace="/common/footer"></div>
    </footer>
</div>

<!-- 슬라이드 이동 JS -->
<script src="/js/main.js"></script>


</body>
</html>