<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기 결과 페이지</title>
    <!-- 외부 스타일 시트 -->

    <!-- 리셋 CSS : 브라우저별로 디폴트로 적용 된 CSS(여백, 폰트 등)에 차이가 있으므로
   브라우저별로 다르게 보일 수 있어 리셋 CSS를 활용한다. -->
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">

</head>
<body>

    <h2 style="text-align: center;">고객님의 아이디를 찾았습니다.</h2>

    <p style="text-align: center;">저희 쇼핑몰을 이용해 주셔서 감사합니다.</p>
    <p style="text-align: center;">다음 정보로 가입된 아이디가 총 <span id="eaId"></span>개 있습니다.</p>

    <table>
        <tbody id="idAndEmailId">
            <tr class="idInfos">
                <td> 이름 </td>
                <td id="infoName"></td>
            </tr>

            <tr class="emailInfos">
                <td> 이메일 </td>
                <td id="infoEmail"></td>
            </tr>
        </tbody>
    </table>

    <br>

    <table>
        <tbody id="memberInfoId">
            <tr id="memberTrId">
                <td id="infoId"> 계정명 </td>
                <td id="infoType"> userType </td>
                <td id="infoRegDate"> 가입일자 </td>
            </tr>
        </tbody>
    </table>

    <script type="text/javascript">
        let nameAndEmail = JSON.parse(localStorage.getItem("findIdInfoList"));
        console.log(nameAndEmail);
        console.log(nameAndEmail[0].registDate.split('T')[0] + " 가입");
        // document.getElementById("nameAndEmailIds").innerHTML = nameAndEmail[0];
        // document.getElementById("nameAndEmailIds2").innerHTML = nameAndEmail[1];

        // 고객 보유 아이디 개수 가져오기.
        document.getElementById("eaId").innerHTML = nameAndEmail.length;

        // 사용자 이름과 이메일을 값을 가져온다.
        let idAndEmailTable = document.getElementById("idAndEmailId");
        let idAndEmailRows = idAndEmailTable.rows;
        idAndEmailRows[0].cells[1].innerHTML = nameAndEmail[0].memberName;
        idAndEmailRows[1].cells[1].innerHTML = nameAndEmail[0].email;

        // 보유 아이디 개수 만큼의 계정명, 로그인 타입, 가입일자를 테이블에 동적으로 추가 및 기입한다.
        let memberInfoTable = document.getElementById("memberInfoId");

        var cellLen = 3;
        for (let i = 0; i < nameAndEmail.length; i++) {
            let currRow = memberInfoTable.rows[i];

            // 행 동적 생성
            if (currRow == null) {
                console.log("null입니다.");
                currRow = memberInfoTable.insertRow();
                console.log(currRow);

                // 열 동적 생성
                for (let j = 0; j < cellLen; j++) {
                    currRow.insertCell(j);
                }
            }

            let tdId =  currRow.cells[0].innerHTML = nameAndEmail[i].userId;
            let tdType = currRow.cells[1].innerHTML = nameAndEmail[i].loginType;
            let tdRegDate =  currRow.cells[2].innerHTML = nameAndEmail[i].registDate.split('T')[0] + " 가입";
        }

    </script>


</body>
</html>