<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- 외부 스타일 시트 -->
    <link href="/src/main/resources/css/login/naverLoginStyle.css" rel="stylesheet" type="text/css">
    <link href="/css/main/navigation.css" rel="stylesheet" type="text/css">
    <!-- 리셋 CSS : 브라우저별로 디폴트로 적용 된 CSS(여백, 폰트 등)에 차이가 있으므로
   브라우저별로 다르게 보일 수 있어 리셋 CSS를 활용한다. -->
   <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
</head>
<!-- 헤더 부분 -->
<div th:replace="/common/board/navigation"></div>

    <p id="title">NAVER</p>
    <p id="subTitle">로그인</p>

    <section class="sectionLogin">

        <hr id="uLine">

        <form class="loginForm" class="joinInfor" caction="/member/join" method="post">
            <input class="inputArea" id="loginId" type="id" name="id" value="아이디" style="color: rgb(185, 190, 201)">
            <input class="inputArea" id="loginPwd" type="password" name="pwd">

            <div class="loginSave">
                <input type="radio" name="idpwdSave" value="idSave"> 아이디 저장
                <input type="radio" name="idpwdSave" value="pwdSave"> 비밀번호 저장
            </div>

            <button class="buttonArea" id="loginBtn" onclick="location.href='join.html'">로그인</button>
        </form>

        <hr id="bLine">

    </section>

    <div class="etcFunction">
        <button id="idFindBtn" onclick="location.href='idFind.html'">아이디 찾기</button>
        <button id="pwdFindBtn" onclick="location.href='pwdFind.html'">비밀번호 찾기</button>
        <button id="joinBtn" onclick="location.href='../join/join.html'">회원가입</button>
    </div>
    
</body>

</html>