<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/checkout/payment/payment.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/icons8-pug-48.png">
    <!-- <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css"> -->
    <title>payment</title>
<!--    <script type="text/javascript" src="/js/checkout/payment/payment.js"></script>-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 아임포트 라이브러리 -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="progress-wrap">
        <div id="progress-cart">
            <div class="cart-wrap">
                <div class="img-wrap"><img src="/images/solar-cart-outline.png">
                </div>
                <div><p>장바구니</p></div>
            </div>
            <div class="cart-wrap">
                <img src="/images/line.png">
            </div>
            <div class="cart-wrap">
                <div class="img-wrap" id="cart-img-wrap"><img src="/images/fluent-payment-24-regular.png">
                </div>
                <div><p>주문/결제</p></div>
            </div>
            <div><img src="/images/line.png"></div>
            <div class="cart-wrap">
                <div class="img-wrap"><img src="/images/group.png">
                </div>
                <div><p>주문 완료</p></div>
            </div>
        </div>
    </div>
    <form action="/payment/confirm" method="post" name="paymentList" id="orderForm">
        <div id="addr-box">
            <div class="addr-header">
                <br>
                <h2>배송지</h2>
                <br>
            </div>
            <div id="addr-body">
                <div id="select-addr-tab">
                    <div id="left-addr" class="both-addr">
                        <input id="newaddr" name="addrs" value="N" type="radio" checked onclick="originAddr()">
                        <label for="newaddr">신규 배송지</label>
                    </div>
<!--                    <div id="right-addr" class="both-addr">-->
<!--                        <input id="orginaddr" name="addrs" value="O" type="radio">-->
<!--                        <label for="orginaddr">새로운 배송지</label>-->
<!--                    </div>-->
                </div>
                <div id="type-write">
                    <div id="name-area">
                        <div id="name-header">
                            <div>받는사람</div>
                            <div><img src="/images/bg_required.png"></div>
                        </div>

                        <input id="text-write" name="name" type="text">

                    </div>
                    <div id="addr-area">
                        <div class="addr-header">
                            <div>주소</div>
                            <div><img src="/images/bg_required.png"></div>
                        </div>
                        <div id="zip-code">
                            <input id="zip-code-write" name="zipcode" type="text" placeholder="우편번호">
                            <div id="search-addr" onclick="searchAddr()">주소검색</div>
                        </div>

                        <input id="addr1" name="addr1" type="text" placeholder="기본주소">

                        <input id="addr2" name="addr2" type="text" placeholder="나머지 주소(선택 입력 가능)">

                    </div>
                    <div id="phone-num">
                        <div id="phone-header">
                            <div>휴대전화</div>
                            <div><img src="/images/bg_required.png"></div>
                        </div>
                        <div id="phone-body">
                            <select id="phone-value" name="phoneValue" onchange="numBtn()">
                                <option value="010" selected>
                                    010
                                </option>
                                <option value="011">
                                    011
                                </option>
                                <option value="016">
                                    016
                                </option>
                                <option value="017">
                                    017
                                </option>
                                <option value="018">
                                    018
                                </option>
                                <option value="019">
                                    019
                                </option>
                            </select>
                            -
                            <input id="phone1" name="phone1" type="text">
                            -
                            <input id="phone2" name="phone2" type="text">

                        </div>
                    </div>
                    <div id="email">
                        <div id="email-header">
                            <div>이메일</div>
                            <div><img src="/images/bg_required.png"></div>
                        </div>
                        <div id="email-body">
                            <input id="email1" name="email1" type="text">
                            @
                            <input id="domain" type="text">

                            <select id="etcoption" name="domain" onchange="domainBtn()">
                                <option value="selected" selected>-이메일 선택-</option>
                                <option value="naver.com">naver.com</option>
                                <option value="daum.net">daum.net</option>
                                <option value="nate.com">nate.com</option>
                                <option value="hotmail.com">hotmail.com</option>
                                <option value="yahoo.com">yahoo.com</option>
                                <option value="empas.com">empas.com</option>
                                <option value="korea.com">korea.com</option>
                                <option value="gmail.com">gamil.com</option>
                                <option value="etc">직접입력</option>
                            </select>
                            <input id="email-write" type="text" placeholder="직접입력" style="display: none;" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div id="shipping-message">
                <select type="text" id="shipping-message-option" name="shippingMessage" onchange="messageBtn()">
                    <option value="" selected>메세지 선택(선택 사항)</option>
                    <option>배송 전에 미리 연락바랍니다.</option>
                    <option>부재 시 경비실에 맡겨주세요.</option>
                    <option>부재 시 문앞에 놓아주세요</option>
                    <option>직접 입력</option>
                </select>
                <input id="shipping-message-area" type="text">
            </div>
            <div id="set-main-addr">
                <input id="check-box-addr" type="checkbox">
                <label for="check-box-addr">기본 배송지로 저장</label>
            </div>
            <div class="item-detail">
                <div id="item-header">
                    주문상품
                </div>
                <div id="item-category1" th:name="basketItemList" th:each="basketItem : ${itemList.basketItems}">
                    <div class="item-image">
                        <img class="itemImg" th:src="${basketItem.^[fileType == 'thumbnail'].filePath}">
                        <input type="hidden" name="itemImg" th:value="${basketItem.^[fileType == 'thumbnail'].filePath}">
                    </div>
                    <div class="detail-text">
                        <div class="top">
                            <div class="itemName" th:text="${basketItem.itemName}" name="12"></div>
                            <input type="hidden" id="itemName" name="itemName" th:value="${basketItem.itemName}">
                            <input type="hidden" class="itemCode" name="itemCode" th:value="${basketItem.itemCode}">
                            <div class="optionName" th:text="${basketItem.optionName}"></div>
                            <input type="hidden" id="optionName" name="optionName" th:value="${basketItem.optionName}">
                            <input type="hidden" class="optionCode" name="optionCode"
                                   th:value="${basketItem.optionCode}">
                            <div class="itemCount" th:text="${basketItem.count}"></div>
                            <input id="totalCount" type="hidden" name="count" th:value="${basketItem.count}">
                            <input type="hidden" id="sumCount" name="orderCount">
                            <div>
                                <button class="x-button" type="button"></button>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="itemPrice" th:text="${basketItem.price}"></div>
                            <input id="itemPrice" type="hidden" name="itemPrice" th:value="${basketItem.price}">
                        </div>
                    </div>
                </div>
            </div>
            <div id="shipping-price">
                <div>배송비</div>
                <div><em id="shippingPrice"></em>원</div>
                <input class="shipPay" type="hidden" name="shippingPrice">
            </div>
            <div id="discount-area">
                <div id="discount-header">
                    <div>할인/부가결제</div>
                </div>
                <div id="discount-body">
                    <div>적립금</div>
                    <div><input type="text" id="discount-write" placeholder="0원">
                        <button id="discount-button">전액 사용</button>
                    </div>
                </div>
                <div id="discount-foot">
                    <div>보유잔액 : <em>0</em>원</div>
                </div>
            </div>
            <div id="total-price-area">
                <div id="price-info-header">
                    <div>결제정보</div>
                </div>
                <div id="price-info-body">
                    <div>
                        <div>주문상품</div>
                        <div><em id="item-total-price"></em>원</div>
                        <input class="itemTotalPrice" type="hidden" name="itemTotalPrice">
                    </div>
                    <div>
                        <div>배송비</div>
                        <div>+<em class="shipping-price"></em>원</div>
                    </div>
                    <div>
                        <div>할인/부가결제</div>
                        <div>-<em>0</em>원</div>
                    </div>
                    <div>
                        <div>최종 결제 금액</div>
                        <div><em id="total-price"></em>원</div>
                        <input type="hidden" name="totalPrice" class="totalPrice">
                    </div>
                </div>
            </div>
            <!--        <div id="check-payment">-->
            <!--            <div id="payment-method">-->
            <!--                <div>결제수단</div>-->
            <!--            </div>-->
            <!--            <div id="payment-card">-->
            <!--                <input id="paymethod1" name="select-pay" type="radio">-->
            <!--                <label for="paymethod1">-->
            <!--                    <img src="/images/ico_card.gif">-->
            <!--                </label>-->
            <!--            </div>-->
            <!--            <div id="payment-acount">-->
            <!--                <input id="paymethod2" name="select-pay" type="radio">-->
            <!--                <label for="paymethod2">-->
            <!--                    <img src="/images/ico_realtime.gif">-->
            <!--                </label>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div id="paycard-info">-->
            <!--            <div id="select-card">-->
            <!--                <div id="select-card-name">-->
            <!--                    <div>카드선택</div>-->
            <!--                    <div><img src="/images/bg_required.png"></div>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                    <select>-->
            <!--                        <option value="selected" selected>선택해주세요.</option>-->
            <!--                        <option value="card1">삼성카드</option>-->
            <!--                        <option value="card2">신한카드</option>-->
            <!--                        <option value="card3">KB국민카드</option>-->
            <!--                        <option value="card4">현대카드</option>-->
            <!--                    </select>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div id="installment-period">-->
            <!--                <div id="period-name">-->
            <!--                    <div>할부기간</div>-->
            <!--                    <div><img src="/images/bg_required.png"></div>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                    <select>-->
            <!--                        <option value="selected" selected>일시불</option>-->
            <!--                        <option value="period1">2개월</option>-->
            <!--                        <option value="period1">3개월</option>-->
            <!--                        <option value="period1">6개월</option>-->
            <!--                        <option value="period1">12개월</option>-->
            <!--                    </select>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div id="pay-info">-->
            <!--                <div id="pay-info-name">-->
            <!--                    <div>결제안내</div>-->
            <!--                    <div><img src="/images/bg_required.png"></div>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                    <div id="type1"><a href="">안심클릭안내</a></div>-->
            <!--                    <div id="type2"><a href="">안전결제(ISP)안내</a></div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="pay-footer">-->
            <!--                <input id="save-payment1" type="checkbox">-->
            <!--                <label for="save-payment1">결제수단 입력정보를 다음에도 사용</label>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <div id="realtime-payment">-->
            <!--            <div id="acount-wrap">-->
            <!--                <div id="acount-name">-->
            <!--                    <div>예금주명</div>-->
            <!--                    <div><img src="/images/bg_required.png"></div>-->
            <!--                </div>-->
            <!--                <input id="receiptment-name" type="text" placeholder="이름을 입력하세요.">-->
            <!--            </div>-->
            <!--            <div id="receipt-check">-->
            <!--                <div>현금영수증</div>-->
            <!--                <div><img src="/images/bg_required.png"></div>-->
            <!--            </div>-->
            <!--            <div id="receipt-button">-->
            <!--                <div id="receipt-left">-->
            <!--                    <input id="check-receipt" value="O" name="realtime-receipt" type="radio" checked>-->
            <!--                    <label for="check-receipt">현금영수증 신청</label>-->
            <!--                </div>-->
            <!--                <div id="receipt-right">-->
            <!--                    <input id="uncheck-receipt" value="N" name="realtime-receipt" type="radio">-->
            <!--                    <label for="uncheck-receipt">신청안함</label>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="pay-footer">-->
            <!--                <input id="save-payment2" type="checkbox">-->
            <!--                <label for="save-payment2">결제수단 입력정보를 다음에도 사용</label>-->
            <!--            </div>-->
            <!--        </div>-->
            <div id="reward-amount">
                <div>적립 혜택</div>
                <div>
                    <div id="reward1"></div>
                    원 예정
                </div>
            </div>
            <div id="donation-area">
                <div id="donation-box">
                    <div>
                        <div>
                            <div id="reward2"></div>
                            원은 적립하지 않고 기부할래요.
                            <input type="hidden" name="rewardAmount" class="rewardAmount">
                        </div>
                        <div>
                            <label class="switch-button">
                                <input type="checkbox"/>
                                <span class="onoff-switch" onclick="rewardBtn()">
                                    <input type="hidden" name="checkReward" id="rewardAmount" value="N">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <div><em>고양이</em>님의 작은 나눔으로 180마리의 길냥이들이 배부를 수 있어요.</div>
                        <div><img src="/images/dog1.png"></div>
                    </div>
                </div>
            </div>
            <div id="agreement-area">
                <div id="agree-header">
                    <div>구매조건 확인 및 결제 진행 동의</div>
                    <div>
                        <div type="button" id="agree-button" onclick="agrBtn()">보기</div>
                    </div>
                </div>
                <ul id="agree-message">
                    <li>
                        무이자할부가 적용되지 않은 상품과 무이자할부가 가능한 상품을 동시에 구매할 경우 전체 주문 상품 금액에 대해 무이자할부가 적용되지 않습니다. 무이자할부를 원하시는 경우
                        장바구니에서 무이자할부 상품만 선택하여 주문하여 주시기 바랍니다.
                    </li>
                    <li>
                        최소 결제 가능 금액은 결제금액에서 배송비를 제외한 금액입니다.
                    </li>
                </ul>
                <div>
                    <div>주문 내용을 확인하였으며 이에 동의합니다.</div>
                </div>
            </div>
            <div>
                <div id="order-confirm">
                    <button id="confirm-all" type="button" onclick="orderBtn();">
                        <em id="total-all"></em>원 결제하기
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', ready)
    } else {
        ready();
    }

    function ready() {

        updateTotalPrice();
    }

    function updateTotalPrice() {

        let cartRows = document.querySelectorAll("#item-category1");
        itemsPrice = 0;
        shippingPrice = 0;
        sumOrderNum = 0;


        for (let i = 0; i < cartRows.length; i++) {

            let cartRow = cartRows[i];
            let $totalCount = parseInt(cartRow.querySelector("#totalCount").value);
            let price = parseInt(cartRow.querySelector(".itemPrice").innerText);
            let itemCount = parseInt(cartRow.querySelector(".itemCount").innerText)

            sumOrderNum += $totalCount;

            console.log(price + " 2323" + itemCount);
            itemsPrice += price * itemCount;

            if (itemsPrice < 50000) {

                shippingPrice = 3000;

            } else if (itemsPrice >= 50000) {

                shippingPrice = 0;
            }
        }

        console.log(itemsPrice);



        let $reward = itemsPrice * 0.01;
        $reward = Math.round($reward * 100) / 100;
        let originItemsPrice = itemsPrice;
        let totalPrice = itemsPrice + shippingPrice;
        let originTotalPrice = totalPrice;
        let rewardPrice = $reward
        console.log(rewardPrice);

        document.querySelector('#sumCount').value = sumOrderNum;
        document.querySelector('#shippingPrice').innerText = shippingPrice;
        document.querySelector('.shipping-price').innerText = shippingPrice;
        document.querySelector('.shipPay').value = shippingPrice;
        document.querySelector("#item-total-price").innerText = originItemsPrice;
        document.querySelector(".itemTotalPrice").value = originItemsPrice;
        document.querySelector("#total-price").innerText = originTotalPrice;
        document.querySelector(".totalPrice").value = originTotalPrice;
        document.querySelector("#total-all").innerText = originTotalPrice;
        document.querySelector("#reward2").innerText = rewardPrice;
        document.querySelector(".rewardAmount").value = rewardPrice;
        document.querySelector("#reward1").innerText = rewardPrice;
    }



   function searchAddr() {

        const $searchAddr = document.getElementById('search-addr');
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if (data.userSelectedType === 'R') {
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("addr2").value = extraAddr;

                } else {
                    document.getElementById("addr2").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('zip-code-write').value = data.zonecode;
                document.getElementById("addr1").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("addr2").focus();
            }
        }).open();
    }

    function numBtn() {
        let phoneNum = document.getElementById("phone-value");
        let $phoneNum = phoneNum.options[phoneNum.selectedIndex].value;
        phoneNum.value = $phoneNum;
        console.log(phoneNum.value);
    }

    function domainBtn() {
        let domain = document.getElementById("etcoption");
        let $domain = domain.options[domain.selectedIndex].value;
        domain.value = $domain;
        console.log(domain.value);
        let email = document.getElementById("domain");
        if ($domain !== "etc") {
// 선택한 도메인을 input에 입력하고 disabled
            email.value = $domain;
            email.disabled = true;
        } else { // 직접 입력 시
// input 내용 초기화 & 입력 가능하도록 변경
            email.value = "";
            email.disabled = false;
        }
    }

    function messageBtn() {
        let message = document.getElementById("shipping-message-option");
        let $message = message.options[message.selectedIndex].textContent;
        message.text = $message;
        console.log(message.text);
    }

    let clickCount = 0;

    function rewardBtn() {

        clickCount++;

        if (clickCount % 2 === 1) {
            let onDonate = document.getElementById("rewardAmount");
            onDonate.value = "Y";
            console.log(onDonate.value);
        } else {
            let offDonate = document.getElementById("rewardAmount");
            offDonate.value = "N";
            console.log(offDonate.value);
        }
        // orderBtn();
    }

    function createOrderNum() {
        let date = new Date();
        let year = date.getFullYear();
        let month = String(date.getMonth() + 1).padStart(2, "0");
        let day = String(date.getDate()).padStart(2, "0");

        let orderNum = year + month + day;
        for(let i =0; i < 10; i++) {
            orderNum += Math.floor(Math.random() * 8);
        }
        return orderNum;
    }

    function agrBtn() {
        const $agreeButton = document.getElementById('agree-button');
        const $agreeMessage = document.getElementById('agree-message');

        if ($agreeMessage.style.display === 'none' || $agreeMessage.style.display === '') {
            $agreeMessage.style.display = 'block';
        } else {
            $agreeMessage.style.display = 'none';
        }
    }


    function orderBtn() {
        // Assuming your form has the ID 'orderForm'
        let form = document.getElementById("orderForm");

        var IMP = window.IMP;
        IMP.init("imp22625430"); // 예: imp00000000
        let $phone1 = document.getElementById("phone-value").value;
        let $phone2 = document.getElementById("phone1").value;
        let $phone3 = document.getElementById("phone2").value;
        let $name = document.getElementById("text-write").value;
        let $email1 = document.getElementById("email1").value;
        let $etcOption = document.getElementById("etcoption").value;
        let $totalPrice = parseInt(document.querySelector("#total-all").innerText.replace(",", ""));
        let $itemName = document.getElementById("itemName").value;
        let $addr = document.getElementById("addr1").value;
        let $zipcode = document.getElementById("zip-code-write").value;

        let tel = parseInt($phone1 + "-" + $phone2 + "-" + $phone3);
        let email = $email1 + "@" + $etcOption;

        let requiredFields = document.querySelectorAll('input[required]');
            let isFormValid = true;
            for (let i = 0; i < requiredFields.length; i++) {
                if (requiredFields[i].value.trim() === '') {
                    alert('필수 정보를 입력하세요.');
                    isFormValid = false;
                    break;
                }
            }

            if (isFormValid) {
                console.log("결제시작하고싶다");

            // IMP.request_pay(param, callback) 결제창 호출
            IMP.request_pay({ // param

                pg: "kakaopay.TC0ONETIME",
                pay_method: "card",
                merchant_uid: createOrderNum(),
                name: $itemName,
                amount: $totalPrice,
                buyer_email: email,
                buyer_name: $name,
                buyer_tel: tel,
                buyer_addr: $addr,
                buyer_postcode: $zipcode

            }, function (rsp) { // callback
                if (rsp.success) {
                    // 결제 성공 시 로직
                    alert("결제성공")
                    form.submit(); // This will submit the form
                } else {
                    // 결제 실패 시 로직
                    alert("결제실패")
                }
            });
            }
    }
</script>
</body>
</html>