<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gibuhagae(notice)</title>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="/css/board.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/board.js"></script>
    <link href="/css/navigation.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="notice" id="board">
    <!-- 헤더(로고, 상단 메뉴)-->
    <div th:replace="/common/board/navigation"></div>
    <!-- 게시판 내용 리스트 영역 -->
    <div class="board-content">
        <div class="board-title">
            NOTICE<br>
            <hr class="title-divider">
        </div>

        <div class="board-container">
            <select id="select1">
                <option value="selected" selected>선택하기</option>
                <option value="Y">활성</option>
                <option value="N">비활성</option>
            </select>
            <br>
            <div class="board-body">
                <div class="board-tab">
                    <button type="button" class="board-btn" th:onclick="|location.href='/board/notice'|">NOTICE
                    </button>
                    <button type="button" class="board-btn" th:onclick="|location.href='/board/qna'|">Q&A</button>
                    <button type="button" class="board-btn" th:onclick="|location.href='/board/review'|">REVIEW
                    </button>
                </div>
                <!-- 공지 리스트 테이블 -->
                <table class="board-table">
                    <thead>
                    <tr>
                        <th class="th1"></th>
                        <th class="th7">상태</th>
                        <th class="th2">NO</th>
                        <th class="th3">제목</th>
                        <th class="th4">작성자</th>
                        <th class="th5">작성일</th>
                        <th class="th6">조회</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox" name="board-checkbox"></td>
                        <td>Y</td>
                        <td>1</td>
                        <td>첫번째글첫번째글첫번째글첫번째글첫번째글첫번째글첫번째글</td>
                        <td>관리자</td>
                        <td>2023-10-01</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="board-checkbox"></td>
                        <td>Y</td>
                        <td>2</td>
                        <td>두번째글</td>
                        <td>관리자</td>
                        <td>2023-10-01</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="board-checkbox"></td>
                        <td>Y</td>
                        <td>3</td>
                        <td>세번째글</td>
                        <td>관리자</td>
                        <td>2023-10-01</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="board-checkbox"></td>
                        <td>N</td>
                        <td>4</td>
                        <td>네번째글</td>
                        <td>관리자</td>
                        <td>2023-10-01</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="board-checkbox"></td>
                        <td>N</td>
                        <td>5</td>
                        <td>다섯번째글</td>
                        <td>관리자</td>
                        <td>2023-10-01</td>
                        <td>1</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 페이지 네비게이션 -->
            <nav class="board-page-nav">
                <table>
                    <td>이전</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>다음</td>
                </table>
            </nav>
            <div class="board-button">
                <button type="button" class="Y">활성화</button>
                <button type="button" class="N">비활성화</button>
                <button type="button" id="modal-open">작성하기</button>
            </div>
        </div>
    </div>
</div>
<div class="popup-wrap" id="popup"> <!-- //모달을 감쌀 박스 -->
    <div class="popup"> <!--실질적 모달팝업 -->
        <div class="popup-head">	<!-- 로고 영역 -->
            <span class="head-title">게시판 관리</span>
        </div>
        <div class="popup-body">	<!--컨텐츠 영역 -->
            <div class="body-content">
                <div class="body-titlebox">
                    <h1>공지 등록</h1>
                </div>
                <div class="body-contentbox">
                    <form id="noticeRegistForm">
                        <table>
                            <tr>
                                <td>제목</td>
                                <td colspan="3"><input type="text" name="title" style="width: 600px;" ></td>
                            </tr>
                            <tr>
                                <td>작성자</td>
                                <td colspan="3"><input type="text" name="writer" style="width: 200px;"></td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td colspan="3">
                                    <textarea name="body" cols="80" rows="15" style="resize: none;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div id="registButton">
                <button id="pop-btn-close" type="button" th:onclick="'location.href=\'/board/notice\''">
                    취소</button>
                <button type="submit" id="pop-btn-confirm">등록하기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>