<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registNotice</title>
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <link href="/css/board.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container"> <!-- 컨테이너 -->
    <div class="popup-wrap" id="popup"> <!-- //모달을 감쌀 박스 -->
        <div class="popup"> <!--실질적 모달팝업 -->
            <div class="popup-head">	<!-- 로고 영역 -->
                <span class="head-title">게시판 관리</span>
            </div>
            <div class="popup-body">	<!--컨텐츠 영역 -->
                <div class="body-content">
                    <div class="body-titlebox">
                        <h1>공지 등록</h1>
                    </div>
                    <div class="body-contentbox">
                        <form id="noticeRegistForm" action="/board/notice/registNotice" method="post">
                            <table>
                                <tr>
                                    <td>제목</td>
                                    <td colspan="3"><input type="text" name="title" style="width: 600px;" ></td>
                                </tr>
                                <tr>
                                    <td>작성자</td>
                                    <td colspan="3"><input type="text" name="writer" style="width: 200px;"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3">
                                        <textarea name="body" cols="80" rows="15" style="resize: none;"></textarea>
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
            <div id="registButton">
                <button id="close-modal" type="button" th:onclick="'location.href=\'/board/notice\''">
                    취소</button>
                <button type="submit">등록하기</button>
            </div>
        </div>
    </div>
</div>

    <script src="/js/board.js"></script>
</body>
</html>