<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/main/navigation.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="other-header">
    <div class="other-header-content">
        <div class="other-nav-left">
            <div class="other-header-logo">
                <a href="/">
                    <img src="/images/navigation/menu-logo.png">
                </a>
            </div>
            <div class="search">
                <s_search>
                    <fieldset>
                        <input type="text" name="search" value="" placeholder="검색어를 입력하세요."
                               onkeypress="if(event.keyCode === 13){  }">
                        <button type="button" onclick=""></button>
                    </fieldset>
                </s_search>
            </div>
        </div>
        <div class="other-nav-right">
            <div class="other-nav">
                <ul class="nav-mypage">
                    <img src="/images/navigation/마이페이지.png">
                    <li><a href="44">마이페이지</a></li>
                </ul>
                <ul class="nav-delivery">
                    <img src="/images/navigation/배송.png">
                    <li><a href="44">배송조회</a></li>
                </ul>
                <ul class="nav-cart">
                    <img src="/images/navigation/장바구니.png">
                    <li><a href="44">장바구니</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 카테고리 메뉴 -->
    <div class="category-nav-content" id="category">
        <ul class="category-nav">
            <li><a href="22">반려동물</a>
                <ul>
                    <li><a href="33">반려견</a></li>
                    <li><a href="33">반려묘</a></li>
                </ul>
            </li>
            <li><a href="/product/productList">간식</a>
                <ul>
                    <li><a href="33">강아지껌</a></li>
                    <li><a href="33">수제간식</a></li>
                    <li><a href="33">캔/파우치</a></li>
                    <li><a href="33">고양이간식</a></li>
                </ul>
            </li>
            <li><a href="22">사료</a>
                <ul>
                    <li><a href="33">퍼피(1세 미만)</a></li>
                    <li><a href="33">어덜트(1~7세)</a></li>
                    <li><a href="33">시니어(7세 이상)</a></li>
                </ul>
            </li>
            <li><a href="22">미용용품</a>
                <ul>
                    <li><a href="33">드라이기/발톱관리용품</a></li>
                    <li><a href="33">샴푸/린스</a></li>
                </ul>
            </li>
            <li><a href="22">패션용품</a>
                <ul>
                    <li><a href="33">일반의류</a></li>
                    <li><a href="33">코스튬</a></li>
                </ul>
            </li>
            <li><a href="22">위생용품</a>
                <ul>
                    <li><a href="33">기저귀/배변용품</a></li>
                    <li><a href="33">눈/귀 위생용품</a></li>
                    <li><a href="33">넥카라</a></li>
                    <li><a href="33">고양이 화장실/모래</a></li>
                </ul>
            </li>
            <li><a href="22">장난감/훈련용품</a>
                <ul>
                    <li><a href="33">강아지 장난감</a></li>
                    <li><a href="33">고양이 장난감</a></li>
                    <li><a href="33">캣타워</a></li>
                    <li><a href="33">훈련용품</a></li>
                </ul>
            </li>
            <li><a href="/board/notice">공지사항</a></li>
        </ul>
    </div>
</div>
</body>
</html>